<div class="brag-box">
    <div class="brag-content">
        <h3>Share:</h3>
        <div id="sm-fb" class="sm-icon"></div>
        <div id="sm-tw" class="sm-icon"></div>
        <div id="sm-pin" class="sm-icon"></div>
        <div id="sm-mail" class="sm-icon"></div>
    </div>
</div>
