<div class="column-right-hotels">
    <div id="hotel-content">
        <h3>Hotels</h3>
        <p>These hotels are recommended due to their proximity to the Chick-fil-A Home Office. Feel free to contact them for reservations.</p>
        <div class="hotel"><p></p><a target="_blank" href="http://www.marriott.com/hotels/travel/atlap-atlanta-airport-marriott">The Marriott</a> - Atlanta Airport <br/>4711 Best Road <br/>Atlanta GA 30337 <br/>404-766-7900</div>
        <div class="hotel"><p></p><a target="_blank" href="http://www.marriott.com/hotels/travel/atlma-atlanta-airport-marriott-gateway/">The Marriott Gateway</a> - Atlanta Airport <br/>2020 Convention Center Concourse <br/>Atlanta GA 30337 <br/>404-763-1544</div>
        <div class="hotel"><p></p><a target="_blank" href="http://www.marriott.com/hotels/travel/atlcw-courtyard-atlanta-airport-west/">The Marriott Courtyard</a> - Camp Creek <br/>3400 Creek Point Drive <br/>East Point GA 30344 <br/>404-344-4414</div>
        <div class="hotel"><p></p><a target="_blank" href="http://hamptoninn.hilton.com/en/hp/hotels/index.jhtml;jsessionid=UJ42Y5SA5WCNECSGBIX2VCQ?ctyhocn=ATLCPHX">The Hampton Inn</a> - Camp Creek <br/>3450 Creek Pointe Drive <br/>East Point GA 30344 <br/>404-344-4474</div>
    </div>   
</div>
