@model cfares.domain._event.Slot

@{
    ViewBag.Title = "Edit";
    ViewBag.Brief = "Edit Slot";
    Layout = "~/Areas/Admin/Views/Shared/Layout/_Edit.cshtml";
}
            
<h1>Edit Slot</h1>
<p>
                
</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.Partial("ModelForm/_Slot")

    <div class='submit-block admin-green'>
        <div class='editor-label inline-block inline-block'>
            
        </div>
        <div class='editor-field inline-block inline-block'>
            <input type="submit" data-icon="ui-icon-disk" class='jq-button' value="Save" />
        </div>
            
    </div>
}
            
      