@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>FooTemplate</title>
</head>
<body>
    <div>
        @for (int i = 0; i < 100; i++) { 
            <text>Hello!</text>
        }
    </div>
</body>
</html>
