@model cfares.domain._event._ticket.FoodTicket
@using MarkdownSharp
@{
    Layout = "../Shared/_Layout.cshtml";
}

<section class="row-fluid" id="success">
	
	<h1>
    OFFICIAL RULES
    </h1>
    <p>
    NO PURCHASE OR PAYMENT OF ANY KIND IS NECESSARY TO PARTICIPATE. PURCHASE OR PAYMENT WILL NOT IMPROVE YOUR CHANCES OF WINNING. VOID WHERE PROHIBITED.
    <br/>
    <br/>
    <strong>1. Sponsor:</strong>
    The participating franchised Operators of Chick-fil-A restaurant businesses in the Houston, TX area (collectively "Sponsors").
    <br/>
    <br/>
    <strong>2. Eligibility:</strong>
    The Chick-fil-A Reserve Your Breakfast Entr&#233;e Giveaway ("Giveaway") is open and offered only to legal residents of the fifty (50) United States and
    the District of Columbia ("D.C.") who live in the United States or D.C. and are thirteen (13) years of age or older as of July 15, 2013. Employees,
    officers, directors, or representatives of Sponsors, Chick-fil-A, Inc., CFA Properties, Inc., and any Chick-fil-A, Dwarf House&#174;, and Truett's
    Grill&#174; restaurants, and their respective parents, subsidiaries, affiliates, owner-operators, all of their respective advertising, promotion, or
    fulfillment agencies, promotional partners, and entities associated with or involved in the development, implementation, or handling of the Giveaway
    (collectively, the "Giveaway Entities") are not eligible to participate in the Giveaway.
    <br/>
    <br/>
    <strong>3. Giveaway Period:</strong>
    The Giveaway begins at 12:00:01 AM EDT on July 15, 2013 and ends at 6:00:00 PM EDT on July 21, 2013 ("Giveaway Period").
    <br/>
    <br/>
    <strong>4. How to Participate:</strong>
    Eligible participants should go to <a href="http://www.chick-fil-aforbreakfast.com/">http://www.chick-fil-aforbreakfast.com/</a> ("Website") and follow the
    directions for participation. Specifically, eligible participants will select a participating Chick-fil-A location, then select a date (generally , but
    actual dates may vary by location, the "Reservation Redemption Period"), and time (generally 6:30AM - 10:30AM, but actual times may vary by location), from
    the on-screen calendar for a reservation to visit the selected participating location. Eligible participants will also then select one (1) Breakfast
    entr&#233;e from the choices given onscreen to be given free during their selected date and time. The total number of reservations available each day
    during the Reservation Redemption Period will vary by individual Sponsor and will be filled on a first-come, first-served basis. The reservation system on
    the Website will close at 6:00 PM EDT on June 20, 2013. After selecting the location, date, time, and breakfast entr&#233;e, eligible participants must
    complete the reservation form on the Website by providing his/her full name, email address, and zip code. Eligible participants may also provide their
    address, gender, and birthday; however, submission of this information is not required for participation in the Giveaway. Notwithstanding the foregoing,
    dates and times available to participate in the Giveaway may vary among the individual Sponsors. Breakfast entr&#233;e menu items will be served during
    Chick-fil-A location breakfast hours only (generally 6:30AM - 10:30 AM, but actual times may vary by location). Breakfast and some breakfast menu items are
    not available at all Chick-fil-A locations. Please note that without limiting the other requirements set forth in these Official Rules, you must have made
    a reservation through the Website and been issued an Invitation (as defined below) to participate in the Giveaway. If you visit a Chick-fil-A location
    without a reservation and an Invitation, you will be unable to participate in the Giveaway.
    <br/>
    <br/>
    After registering, eligible participants will receive an email with their invitation, which includes the eligible participant's full name and the date,
    time, breakfast entr&#233;e and location of the reservation ("Invitation"). Eligible participants must print this Invitation and bring it with them to the
    designated Chick-fil-A location at the designated date and time. Eligible participants may also be asked to provide a valid government-issued photo ID to
    the Sponsor or employee who requests it at the time of redemption of the Invitation, and if ID is requested, the name on the Invitation and ID must match
    for redemption of the Invitation. If an eligible participant cannot print his/her Invitation, that participant should go to the designated Chick-fil-A
    location at the designated date and time and bring his/her valid government-issued photo ID (if the participant has one) and advise the Sponsor that
    his/her Invitation would not print, and the Sponsor will determine, at his/her sole discretion, whether to honor the participant's reservation and
    Invitation. Each Invitation is redeemable for one (1) free Breakfast entr&#233;e selected by and for the eligible participant whose name is on the
    Invitation at the time, date and location identified on the Invitation. Invitation is not a coupon. Invitation has no cash value. Limit one (1) Invitation
    per person and per email address, regardless of restaurant location. Submission of multiple entries to receive multiple Invitations by or on behalf of the
    same person will result in ineligibility with respect to all entries submitted by or on behalf of an individual and all Invitations received by an
    individual.
    <br/>
    <br/>
    Invitations are subject to verification by Sponsor, and their representatives. Invitations are null and void and will be rejected if not obtained through
    authorized, legitimate channels. Such authorized, legitimate channels do not include (among other means) purchasing Invitations online or otherwise,
    through online auctions, or at live auctions. The offer to sell, auction or sale of an Invitation will void the Invitation. If any part of an Invitation is
    counterfeited, or if any part is illegible, mutilated, or tampered with in any way, or if an Invitation contains or reflects printing, typographical,
    mechanical, or other errors, the Invitation will be rejected and deemed void and invalid. Incomplete, mechanically reproduced, automated, and/or duplicate
    Invitations are not permitted and will be deemed void and invalid. The use of any device to automate the entry process is absolutely prohibited, and any
    such entries and resulting Invitations shall be void.
    <br/>
    <br/>
    In the event of a dispute regarding the identity of the person submitting the Invitation, the Invitation will be deemed to be submitted by the person in
    whose name the Invitation is issued, subject to that person's ability to provide a valid government-issued photo ID to the Sponsor or employee who requests
    it at the time of redemption of the Invitation, in Sponsor's sole discretion. Once submitted for redemption, all Invitations become the property of Sponsor
    and will in no event be returned.
    <br/>
    <br/>
    <strong>5. Privacy:</strong>
    Sponsor may collect personal data from participants when they enter the Giveaway, and this information will be used for the purposes of administering the
    Giveaway, publicizing the Giveaway, and for participants age eighteen (18) and over, other promotional purposes that benefit Sponsor and its designees.
    <br/>
    <br/>
    <strong>6. General Conditions:</strong>
    Neither Sponsor nor any other Released Party (defined below) is responsible for lost, late, incomplete, stolen, misdirected, or illegible entries or
    Invitations, or for any incorrect or inaccurate information, whether caused by participants, tampering, or by any of the equipment or programming
    associated with or utilized in the Giveaway, and neither Sponsor nor any Released Party assume responsibility for any error, omission, defect, theft,
    destruction, or unauthorized access to the materials related to the Giveaway. Sponsor reserves the right, at its sole discretion, to disqualify any
    individual found to be tampering with the entry process or the operation of the Giveaway, to be acting in violation of these Official Rules; or to be
    acting in a non-sportsmanlike or disruptive manner, or with intent to annoy, abuse, threaten, or harass any other person. In such event(s), Sponsor
    reserves the right (in addition to disqualification of such individual) to seek damages from any such person to the fullest extent permitted by law. If for
    any reason the Giveaway is not capable of running as planned by reason of, but not limited to, tampering, unauthorized intervention, actions by
    participants, fraud, weather, force majeure events or any other causes which, Sponsor, in its sole opinion, deem could corrupt or affect the
    administration, security, fairness, integrity, or proper conduct of the Giveaway, or the Giveaway is otherwise not capable of running as planned, Sponsor
    reserves the right, in its sole discretion, to cancel, terminate, modify, or suspend the Giveaway. If such malfunction, error, disruption, event,
    occurrence or damage occurs, and it impairs the administration, security, fairness, integrity, or proper play of the Giveaway, Sponsor may, in its sole
    discretion, suspend or terminate the Giveaway or any portion thereof by posting a notice on the Website or at Sponsor locations. In the event that the
    selected Breakfast Entr&#233;e or any other item, product, or service cannot be awarded for any reason, or any eligible participant is not capable of
    redeeming his/her Invitation for any reason, Sponsor and Released Parties shall not be obligated to award any item, product, or service, and Sponsor and
    Released Parties reserve the right, in their sole discretion, whether to substitute the selected Breakfast Entr&#233;e or any other item, product, or
    service (or any portion thereof) with an item, product, or service of comparable or greater value or cash value. If, for any reason, more than the stated
    number of Invitations are available and/or claimed, Sponsor reserves the right, in its sole discretion, to honor the correct total number of Invitations by
    random drawing from among eligible Invitations. No groups, clubs, newsletters, or organizations may reproduce or distribute any portion of these Official
    Rules to their members, and anyone who participates in the Giveaway through means not permitted by these Official Rules is subject to disqualification.
    <br/>
    <br/>
    <strong>7. Release:</strong>
    By participating in this Giveaway, participants (and each minor participant's parent(s) or legal guardian(s)) agree to release, indemnify, and hold
    harmless, the Giveaway Entities, and each of their officers, directors, owners, employees, agents, affiliates (collectively, the "Released Parties"), from
    any and all liability for any injuries, loss, harm, damage, cost, or expense of any kind to any person(s), including, without limitation, property damage,
    personal injury, and/or death, arising in whole or in part, directly or indirectly, from acceptance, possession, use, and/or misuse of an Invitation or
    participation in this Giveaway or any Giveaway-related activity and for any claims based on publicity rights, defamation, or invasion of privacy.
    <br/>
    <br/>
    <strong>8. Limitation of Liability:</strong>
    EXCEPT WHERE PROHIBITED, PARTICIPANTS (AND EACH MINOR PARTICIPANT'S PARENT(S) OR LEGAL GUARDIAN(S)) AGREE THAT: (1) ALL ITEMS, PRODUCTS, AND SERVICES ARE
    PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS
    FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT; (2) ANY AND ALL DISPUTES, CLAIMS, AND CAUSES OF ACTION ARISING OUT OF OR CONNECTED WITH THIS GIVEAWAY OR ANY
    ITEM AWARDED, SHALL BE RESOLVED INDIVIDUALLY, WITHOUT RESORT TO ANY FORM OF CLASS ACTION; (3) ANY AND ALL CLAIMS, JUDGMENTS, AND AWARDS SHALL BE LIMITED TO
    ACTUAL OUT-OF-POCKET COSTS INCURRED, INCLUDING COSTS ASSOCIATED WITH ENTERING THIS GIVEAWAY BUT IN NO EVENT ATTORNEYS' FEES; AND (4) UNDER NO CIRCUMSTANCES
    WILL PARTICIPANT (AND EACH MINOR PARTICIPANT'S PARENT(S) OR LEGAL GUARDIAN(S)) BE PERMITTED TO OBTAIN AWARDS FOR, AND PARTICIPANT (AND EACH MINOR
    PARTICIPANT'S PARENT(S) OR LEGAL GUARDIAN(S)) HEREBY WAIVES ALL RIGHTS TO CLAIM PUNITIVE, INCIDENTAL, CONSEQUENTIAL, AND ANY OTHER DAMAGES, OTHER THAN FOR
    ACTUAL OUT-OF-POCKET EXPENSES, AND ANY AND ALL RIGHTS TO HAVE DAMAGES MULTIPLIED OR OTHERWISE INCREASED. SOME JURISDICTIONS MAY NOT ALLOW THE LIMITATIONS
    OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES OR EXCLUSION OF IMPLIED WARRANTIES, SO SOME OF THE ABOVE LIMITATIONS OR EXCLUSIONS MAY
    NOT APPLY TO CERTAIN PARTICIPANTS. CHECK LOCAL LAWS FOR ANY RESTRICTIONS OR LIMITATIONS REGARDING THESE LIMITATIONS OR EXCLUSIONS.
    <br/>
    <br/>
    <strong>9. Agreement to Official Rules:</strong>
    By participating in the Giveaway, each participant (and each minor participant's parent(s) or legal guardian(s)) fully and unconditionally agrees to and
    accepts these Official Rules and the decisions of Sponsor and Giveaway Entities (including but not limited to Sponsor and their employees handling
    Invitation redemption), which are final and binding in all matters relating to the Giveaway. By participating in the Giveaway, each participant (and each
    minor participant's parent(s) or legal guardian(s)) waives any right to claim ambiguity in these Official Rules. The failure or delay by Sponsor or
    Giveaway Entities in enforcing any particular clause, provision, or aspect of these Official Rules shall not impact the validity, enforceability, or effect
    of any other clause, provision, or aspect of these Official Rules.
    <br/>
    <br/>
    <strong>10. Choice of Law:</strong>
    All issues and questions concerning the construction, validity, interpretation, and enforceability of these Official Rules, or the rights and obligations
    of participant and/or Sponsor in connection with the Giveaway, shall be governed by, and construed in accordance with, the laws of the State of Georgia
    without regard to conflicts of law/choice of law doctrine of Georgia or any other jurisdiction, and all proceedings shall take place exclusively either in
    the United States District Court for the Northern District of Georgia, or Fulton County State Court located in Atlanta, Georgia. Participant (and each
    minor participant's parent(s) or legal guardian(s)) agrees to the exclusive jurisdiction of such courts and waives any right to change of venue or any like
    right.
    <br/>
    <br/>
    <strong>11. Official Rules:</strong>
    Official Rules for this Giveaway are available by clicking on the link provided during the Giveaway entry process described herein. The Official Rules may
    also be obtained by visiting the participating Chick-fil-A restaurant locations during the Giveaway Period.
    <br/>
    <br/>
    CHICK-FIL-A<sup>&#174;</sup> is a registered trademark of CFA Properties, Inc.
    <br/>
    <br/>
    &#169; 2013 CFA Properties, Inc. All Rights Reserved. Printed in U.S.A.
    </p>

</section>
