
<div data-role="footer" data-theme="f" id="footer"> 
    <div id="footer-divider"></div>

    <div data-role="navbar">
        <ul id="footer-link-list">
            <li class="narrow"><a href="http://www.chick-fil-a.com/Legal" target="_blank">Legal</a></li>
            <li class="wide"><a href="http://www.chick-fil-a.com" target="_blank">Chick-fil-A.com</a></li>
            <li class="narrow"><a href="http://www.chick-fil-a.com/Legal/Privacy" target="_blank">Privacy</a></li>
        </ul>
    </div>

    <p class="center">© 2012 CFA Properties, Inc. All trademarks shown are the propery of their respective owners. Reservations are on a first come, first served basis.</p>
</div>
