@{
    ViewBag.Title = "Modify";
    Layout = "~/Areas/mobile/Views/Shared/_Layout.cshtml";
}

<h1>Need to Cancel of Modify Your Registration?</h1>

<p>To cancel or modify your reservation, please Log On.</p>

<a href="/mobile/Account/LogOn" data-role="button" data-inline="true" data-theme="d">Log On</a>

