@{
    ViewBag.Title = "ReSend";
    Layout = "~/Areas/mobile/Views/Shared/_Layout.cshtml";
}
<div class="container center">
<br/>
<h1>Lost Your Confirmation Email?</h1>
<br/>
<a href="#" data-role="button" data-inline="false" data-theme="a">Resend Email</a>
</div>
