@model cfares.Areas.tours.Models.StoryTourTicketFormModel
<div class="form-section">
            @Html.CheckBoxFor(m => m.userForm.joinInsiders)
            <label>Join Email Insiders and receive exclusive updates from Chick-fil-A, Inc. <span
                class="legal-aside">(must be 18 or older)</span></label>
        </div>
