@{
    ViewBag.Title = "Confirm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="content rounded" id="main">
    <div class="inner-content wrapper">
        <div class='model badge'>
            <h1>Confirm</h1>
            <p>
                Confirm Event
            </p>
        </div>
    </div>
</div>