@model cfares.domain._event.ResEvent

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/Layout/_Create.cshtml";
}




<h1>Create Event</h1>
<p>
    Enter Basic Event Information                
</p>


@Html.Partial("ModelForm/_ResEvent")

