@model cfares.domain._event.ResEvent

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/Layout/_Edit.cshtml";
}


<h1>Edit Event</h1>
<p>Edit Basic Event Information</p>


@Html.Partial("ModelForm/_ResEvent")
