@model string


<table id="table_@Model" class='data-table' data-jquery-ui="true" data-mode="backbone" @Html.Raw(ViewData["Picker"]!=null?"data-dom='<\"H\"r>t<\"F\"fp>' ":"") data-data='@Model'>
            <thead>
                <tr>
                    @if (ViewData["Picker"]!=null)
                    {
                        <th data-id='ReservationTypeSelect' data-on-display='DataFormat.Radio' data-column-parent='ReservationTypeId'></th>
                    }
                         
                    <th data-column-name='ReservationTypeId' data-id-column='true' >Reservation Id</th>
                    <th data-id='Cta'></th>    
                    <th data-column-name='Name'  >Name</th>			    
                        
			    
                
                </tr>
            </thead>
        </table>

