@model string


<div class='admin-table'>
    <table id="slots_@ViewData["id"]" data-sort="LocationNumber" class='data-table' data-mode="backbone"  data-jquery-ui="true"  data-data='@Model'>
            <thead>
            <tr>
                <th data-id='SlotLink' data-on-display='DataFormat.SlotUrl' data-column-parent='SlotId'></th>                        
                <th data-column-name='SlotIdL' data-id-column='true' >Slot Id</th>
                <th data-column-name='Start' data-on-display='DataFormat.date' >Start</th>			    
			    <th data-column-name='End' data-on-display='DataFormat.date'>End</th>
                <th data-column-name='OccurrenceId'>Occurrence</th>
                <th data-column-name='TotalTickets' >Total Reservations</th>
			    <th data-column-name='CapacityScheduledI' >Capacity</th>
                <th data-column-name='Status' data-searchable='false' data-on-display='EnumFormat.SlotStatus'>Status</th>  
		    </tr>
            </thead>
        </table>
      </div>