@model string


<div class='admin-table'>
    <table id="occurrence_select2" class='data-table' data-jquery-ui="true" data-mode="backbone"  data-data='@Model'>
            <thead>
            <tr>
                <!--<th data-id='StoreSelect' data-on-display='DataFormat.Radio' data-column-parent='LocationId'></th>                        -->
                <th data-column-name='LocationNumberI' data-id-column='true' >Location Number</th>                
                <th data-column-name='Name' >Name</th>
                <th data-column-name='MarketableUrlString' data-visible="false">Marketable Url</th>
                
                <th data-column-name='ConceptCode' >Concept Code</th>
                <th data-column-name='RegionName' data-editable="false" data-visible="false" >Region</th>                
                <th data-column-name='PhoneString'>Phone</th>			    
			    
		    </tr>
            </thead>
      </table>
      </div>