<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <appSettings></appSettings>
  <connectionStrings>
    <add name="cfa-site-rackspace" connectionString="Data Source=174.143.28.35,4120;Initial Catalog=445396_CUSTOMER_DATA_STORE;User ID=445396_CDSadmin; Password=G7e5Kz783ps3!;" />
    <add name="cfa-id-mssql" connectionString="Data Source=id.chick-fil-a.com;Initial Catalog=idApplication;User ID=idSqlAdmin; Password=drake7;" />
    <add name="cfa-id-mysql" connectionString="Driver={MySQL ODBC 3.51 Driver};Server=idcfamysql.cuwhyqxxofly.us-east-1.rds.amazonaws.com;Port=3306;Database=idApplication;User=idSqlAdmin;Password=drake7;Option=3;" providerName="System.Data.Odbc" />
    <add name="cfa-res-mssql" connectionString="Data Source=id.chick-fil-a.com;Initial Catalog=resApplication;User ID=idSqlAdmin; Password=drake7;" />
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="CFA-ADService" connectionString="LDAP://id.chick-fil-a.com:389/CN=Users,DC=id,DC=chick-fil-a,DC=com" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.6.4.0" newVersion="6.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>