@model string

<form class='' action="javascript:void(0);">
    <div class='select-wrapper table-short vcenter center admin-green' data-pk="@Model">
    <table id="event_select" class='data-table' data-jquery-ui="true" data-dom='<"H"r>t<"F"fp>' data-data='/DataService/ResEvent.svc/ResEvents' 
        data-crud='/DataService/ResEvent.svc/ResEvents({0}L)'>
            <thead>
            <tr>
                <th data-id='ResEventSelect' data-on-display='DataFormat.Radio' data-column-parent='ResEventId'></th>                        
                <th data-column-name='ResEventIdL' data-id-column='true' >Event Id</th>
                <th data-column-name='Name' >Name</th>
                <th data-column-name='UrlName' >Marketable Name</th>
                <th data-column-name='Description' data-visible="false" >Description</th>
                <th data-column-name='ReservationType' data-editable="false" data-visible="false" >Reservation Type</th>                
                <th data-column-name='SiteStartD' data-on-display='DataFormat.date' >Site Start</th>			    
			    <th data-column-name='SiteEndD' data-visible="false" data-on-display='DataFormat.date'>Site End</th>		
                
                <th data-column-name='Status' data-searchable="false" data-on-display='EnumFormat.ResEventStatus'>Status</th>  
		    </tr>
            </thead>
      </table>
      </div>
</form>