<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://npr.staging.thefoundryagency.com</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>ec2-54-242-166-26.compute-1.amazonaws.com</MSDeployServiceURL>
    <DeployIisAppPath>QA - NPR-001 - Reservation System</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>WDeployAdmin</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-cfaresv2-20121220143245;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-cfaresv2-20121220143245;Integrated Security=SSPI" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="cfa-elasticache" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="tcp://cfares.hjywkp.0001.use1.cache.amazonaws.com:11211" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\cfa-elasticache_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="tcp://cfares.hjywkp.0001.use1.cache.amazonaws.com:11211" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CFASqlIdentity" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=cfa-res-staging-2.cuwhyqxxofly.us-east-1.rds.amazonaws.com;Initial Catalog=cfaAspId;User Id=resSqlAdmin;Password=drake7drake7;MultipleActiveResultSets=true;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CFASqlIdentity_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=cfa-res-staging-2.cuwhyqxxofly.us-east-1.rds.amazonaws.com;Initial Catalog=cfaAspId;User Id=resSqlAdmin;Password=drake7drake7;MultipleActiveResultSets=true;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="NprSqlIdentity" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=restier2staging.cuwhyqxxofly.us-east-1.rds.amazonaws.com;Initial Catalog=npr_auth;User Id=res_admin;Password=Beard7Beard7;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\NprSqlIdentity_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=restier2staging.cuwhyqxxofly.us-east-1.rds.amazonaws.com;Initial Catalog=npr_auth;User Id=res_admin;Password=Beard7Beard7;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CfaResContext" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="cfares.entity.dbcontext.res_event.CfaResContext, cfares.entity.dbcontext" MigrationConfiguration="cfares.entity.dbcontext.Migrations.Configuration, cfares.entity.dbcontext" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="NprContext" Order="8" Enabled="False">
          <Destination Path="" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="npr.entity.dbcontext.npr_res.NprContext, npr.entity.dbcontext" MigrationConfiguration="npr.entity.dbcontext.Migrations.Configuration, npr.entity.dbcontext" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CfatoursViewContext" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="cfatours.entity.dbcontext.Views.CfatoursViewContext, cfatours.entity.dbcontext" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CfaToursContext" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="cfatours.entity.dbcontext.CfaToursContext, cfatours.entity.dbcontext" MigrationConfiguration="cfatours.entity.dbcontext.Migrations.Configuration, cfatours.entity.dbcontext" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <LastUsedBuildConfiguration>NPR.S3.QA</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)cfa-elasticache-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CfaResContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CFASqlIdentity-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CfaToursContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CfatoursViewContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NprContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NprSqlIdentity-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>