<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ninject" version="3.0.1.10" targetFramework="net40" />
  <package id="ServiceStack.Common" version="3.9.56" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="3.9.57" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.56" targetFramework="net45" />
  <package id="valueinjecter" version="2.3.3" targetFramework="net40" />
</packages>