@{
    ViewBag.Title = "Event Has Ended";
    Layout = "../Shared/_layout.cshtml"; //Layout = "~\Areas\npr\Views\Shared\_layout.cshtml";
}

<h1>This event has ended.</h1>

<p class="padding50">Thanks to everyone who participated!</p>

@section SocialFooter {
	@Html.Partial("_SocialFooterPartial")
}