@{
    ViewBag.Title = "Faq";
    ViewBag.Nav = "Faq";
    Layout = "../Shared/_layout.cshtml"; //Layout = "~\Areas\npr\Views\Shared\_layout.cshtml";
}

<h1>Frequently Asked Questions</h1>

<div class="accordion" id="faq">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#faq" href="#collapse-faq1"><span class="tri-right"></span>Is the tour free?</a>
		</div>
		<div id="collapse-faq1" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>Yes, the tour is free.</p>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#faq" href="#collapse-faq2"><span class="tri-right"></span>How do I sign up for the tour?</a>
		</div>
		<div id="collapse-faq2" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>To register for the tour, <a href="//tours.npr.org/npr/Home">click here</a>. Each tour has a maximum capacity of 20 people. If a particular date is unavailable, we are either fully booked or otherwise unable to offer a tour on the date and time in question.</p>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#faq" href="#collapse-faq3"><span class="tri-right"></span>Do I need to bring anything?</a>
		</div>
		<div id="collapse-faq3" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>All attendees must bring a photo ID. Children under the age of 16 are not required to bring an ID, however they must be accompanied by an adult.</p>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#faq" href="#collapse-faq4"><span class="tri-right"></span>Where is NPR located?</a>
		</div>
		<div id="collapse-faq4" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>NPR’s headquarters are in Washington DC’s fast-growing NoMa neighborhood. Our address is:
					<address>
						1111 North Capitol St., NE<br />
						Washington, DC 20002
					</address>
				</p>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#faq" href="#collapse-faq5"><span class="tri-right"></span>How do I get there?</a>
		</div>
		<div id="collapse-faq5" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>By Car:</p>

				<p>For driving directions, you can locate the NPR headquarters on <a href="https://maps.google.com/maps?oe=utf-8&client=firefox-a&q=1111+north+capitol+street+ne&ie=UTF-8&hq=&hnear=0x89b7b81f92c8fddb:0x8d124c38875251a2,1111+North+Capitol+St+NE,+Washington,+DC+20002&gl=us&ei=sDeWUbTYGZal4APQjoHQDg&ved=0CC4Q8gEwAA" target="_blank">this
				Google map.</a></p>

				<p>Metrorail:</p>

				<p>The NPR headquarters are about equal distance from both the Union
				Station and NoMa-Gallaudet U stops on the Red Line. Check out <a href="http://www.wmata.com/rail/maps/map.cfm" target="_blank">the map</a> to see which would work best for you.</p>

				<p>Bus:</p>

				<p>The Loudon County Transit and the MTA Commuters Bus provide
				service near the building. Below is a list of the neighborhood stops:
					<ul>
						<li>90/92/93 U Street - Garfield Line</li>
						<li>96/97 East Capitol Street - Cardozo Line</li>
						<li>80 North Capitol Street Line</li>
						<li>P6 Anacostia - Eckington Line</li>
						<li>D3 Ivy City - Dupont Circle Line</li>
						<li>D4 Ivy City - Franklin Square Line</li>
						<li>D6 to Stadium-Armory</li>
						<li>D8 Hospital Center - Union Station</li>
						<li>X1 Benning Road - Potomac Park Line</li>
						<li>X2 Benning Road - H Street Line</li>
					</ul>
				</p>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#faq" href="#collapse-faq6"><span class="tri-right"></span>Is onsite parking available?</a>
		</div>
		<div id="collapse-faq6" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>There is a public parking lot on L street across from NPR headquarters. The neighborhood also offers metered street parking where available.. If you are arriving by bike, there are a limited number of bike racks located on the L street side of the building.</p>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#faq" href="#collapse-faq7"><span class="tri-right"></span>When and where do I need to arrive for the tour?</a>
		</div>
		<div id="collapse-faq7" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>Please arrive at least fifteen minutes prior to the start time for your tour to allow for check-in at NPR security. The tour will begin promptly at 11am. Attendees will meet and assemble in front of the NPR Commons, located just inside the main doors on the left side of the lobby.</p>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#faq" href="#collapse-faq8"><span class="tri-right"></span>How long is the tour?</a>
		</div>
		<div id="collapse-faq8" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>The tour will last approximately one hour.</p>
				<p>Guests should plan to be on their feet for the duration of the tour and be prepared to do a fair bit of walking. If you have any health concerns that might make this difficult for you, please contact us before registering for the tour.</p>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#faq" href="#collapse-faq9"><span class="tri-right"></span>Is there wheelchair accessibility?</a>
		</div>
		<div id="collapse-faq9" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>The building and the tour are accessible for anyone arriving in a wheelchair. There is a ramp next to the stairs in front of the building’s main entrance and there is elevator access between floors.</p>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#faq" href="#collapse-faq10"><span class="tri-right"></span>Is the tour for all ages?</a>
		</div>
		<div id="collapse-faq10" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>The NPR tour is most interesting for those 16 and older. However, younger children are welcome to participate with parental supervision.</p>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#faq" href="#collapse-faq11"><span class="tri-right"></span>Are food and beverages permitted on the tour?</a>
		</div>
		<div id="collapse-faq11" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>Food and drink are not permitted on the tour (with the exception of bottled water). If you have any special needs, please contact us before making a reservation.</p>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#faq" href="#collapse-faq12"><span class="tri-right"></span>Is photography permitted?</a>
		</div>
		<div id="collapse-faq12" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>Photography will not be permitted during the tour. However, you are welcome to take pictures in the lobby or in front of the building before or after the tour.</p>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#faq" href="#collapse-faq13"><span class="tri-right"></span>Are souvenirs available?</a>
		</div>
		<div id="collapse-faq13" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>Yes. The tour begins and ends at the NPR Commons, the shop for all things NPR. There you can support public radio with your purchase of items such as t-shirts, mugs, buttons, books, CDs, and of course &mdash; tote bags.</p>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#faq" href="#collapse-faq14"><span class="tri-right"></span>Do you offer special group tours for students or professional organizations?</a>
		</div>
		<div id="collapse-faq14" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>If you wish to inquire about booking a special tour for a student group or professional organization, please direct your request to our @Html.ActionLink("Personalized Tours Registration", "Register", "Reservation", new{ type="custom" }, new{}).</p>
				<p>For younger school groups, students should be involved in radio and TV productions or taking communications, political science, journalism classes, or related studies. Again, the tour will be most interesting for those 16 and older.</p>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#faq" href="#collapse-faq15"><span class="tri-right"></span>How can I change or cancel my reservation?</a>
		</div>
		<div id="collapse-faq15" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>When you make a reservation, you are provided with a confirmation number. Make certain to keep a record of that number. You can use it along with the email address to access your reservation to cancel or to make any changes to the number of people in your party (based on availability). If you need to change the date please cancel your current reservation and create a new one under the date you will attend.</p>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#faq" href="#collapse-faq16"><span class="tri-right"></span>I still have questions about the tour. Who do I contact?</a>
		</div>
		<div id="collapse-faq16" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>For additional assistance, please contact <a href="http://help.npr.org/npr/includes/customer/npr/custforms/contactus.aspx" target="_blank">NPR Services</a>.</p>
			</div>
		</div>
	</div>
</div>

<!-- Triangle controls for each FAQ question -->
<script type="text/javascript">
	$(document).ready(function () {
		$('.accordion').on('show hidden', function (n) {
			$(n.target).siblings('.accordion-heading').find('.accordion-toggle span').toggleClass('tri-right tri-down');
		});
	});
</script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-51138297-1', 'npr.org');
    ga('send', 'pageview');

</script>