@{
    ViewBag.Title = "Notice";
    Layout = "../Shared/_layout.cshtml"; //Layout = "~\Areas\npr\Views\Shared\_layout.cshtml";
}

<h1>Notice</h1>

<p class="">Sorry, there was a problem with your ticket.</p>