@{
    cfacore.domain.user.User filterUser = new cfacore.domain.user.User();
    filterUser.Name = new cfacore.shared.domain.user.Name("Filter by Guide");
    filterUser.Id("0");
}
            <!--<div class='admin-table inline-block'>
                <select class="load-on-click filter" data-source="/Service/ResEvent.svc/AllEventTypes" id="filter-tour-type" data-label="Name" data-value="ReservationTypeId">
                    <option  value="">Tour Types</option>                    
                </select>
            </div>-->

            
            <div class='admin-table inline-block' id="filter-guide">
                
                @Html.Partial("EditorTemplates/AutoComplete/_Guide", filterUser)

            </div>


            <div class='admin-table inline-block'>
                <label class="filter filter-past" id="filter-past">
                    Show Past Slots
                    <input type="checkbox" name='filter' value='true' />
                </label>
            </div>
            
            <div class='admin-table inline-block' id="filter-event">
                <label class="filter picker">
                Event 
                @Html.Partial("EditorTemplates/Picker/_Occurrence")
                </label>
            </div>

            <div class='admin-table inline-block'>
                <select class="jq-select filter" id="filter-day">
                    <option value="">Day Of Week</option>
                    @for (int i = 1; i <= 7; i++)
                    {
                        string label = System.Globalization.DateTimeFormatInfo.CurrentInfo.GetDayName((DayOfWeek)(i-1));
                        <option value="@i">@label</option>
                    }
                </select>
            </div>