

<div class="wizard-bar">

    <div class="bar-section step-past">Choose a Tour</div>
    <div class="bar-section step-past">Choose A Date</div>
    <div class="bar-section step-present">Registration</div>
    <div class="bar-section step-future">Overview</div>
    <div class="bar-section step-future">Conformation</div>

</div>


<div class="wizard info">



</div>