@model cfares.Areas.tours.Models.LogOnModel
@{
    ViewBag.Title = "Logon";
    Layout = "~/Areas/tours/Views/Shared/OneColumn/_Notification.cshtml";
}

@section Modify{
    <h1>Need To Reset Your Password?</h1>
    <span>Please enter the email used to make your reservation in the space below</span>
}

@section Login{


<div class="logon-form">

    @using (Html.BeginForm())
    {
        if (! String.IsNullOrEmpty(ViewBag.Result))
        {
            <span class="red">@ViewBag.Result</span>
        }
    
        <div class="form-item"><span class="strong item-name">Email: </span>@Html.EditorFor(m => m.email)</div>
        <input type="submit" value="" class="logon-form-button form-button" id="submit-registration-button"/>
    }
</div>


}
