@model cfares.Areas.tours.Models.LogOnModel
@{
    ViewBag.Title = "Lost Invitation";
    Layout = "~/Areas/tours/Views/Shared/OneColumn/_Notification.cshtml";
}

@section Modify{
    <h1>Lost Your Confirmation Email?</h1>
    
    <span>Please enter the email address and password used to make your reservation:</span>
}

@section Login{


<div class="logon-form">

    @using (Html.BeginForm())
    {
        if (! String.IsNullOrEmpty(ViewBag.Result))
        {
            <span class="red">@ViewBag.Result</span>
        }
    
        <div class="form-item"><span class="strong item-name">Email: </span>@Html.EditorFor(m => m.email)</div>
        <div class="form-item"><span class="strong item-name">Password: </span>@Html.EditorFor(m => m.password)<a class="password-reset" href="">@Html.ActionLink("Forgot Your Email or Password?", "ForgotPassword", "Account", new { @class = "forgot-pass-link" })</a></div>
    
        <!--<a class="password-reset" href="">Forgot your email or password?</a>-->
      
        <input type="submit" value="" class="logon-form-button form-button" id="submit-registration-button"/>
    }
</div>


}
