@{
    ViewBag.Title = "Email Confirmation";
    Layout = "~/Areas/tours/Views/Shared/OneColumn/_Notification.cshtml";
}
<div class="logon-page">
    <h1>
        Confirmation Sent!</h1>
    <p class="logon-description">Thank you. Your confirmation email has been re-sent to your inbox.</p>
    <br />
</div>
