<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LocationEntityAccess" connectionString="metadata=res://*/store.Location.csdl|res://*/store.Location.ssdl|res://*/store.Location.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=rescfamysql.cuwhyqxxofly.us-east-1.rds.amazonaws.com;User Id=resSqlAdmin;password=drake7;Persist Security Info=True;database=resApplication&quot;" providerName="System.Data.EntityClient" />
    <add name="UserMySqlEntityAccess" connectionString="metadata=res://*/user.User.csdl|res://*/user.User.ssdl|res://*/user.User.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=rescfamysql.cuwhyqxxofly.us-east-1.rds.amazonaws.com;User Id=resSqlAdmin;password=drake7;Persist Security Info=True;database=resApplication&quot;" providerName="System.Data.EntityClient" />
    <add name="ContentModelEntities" connectionString="metadata=res://*/common.Content.csdl|res://*/common.Content.ssdl|res://*/common.Content.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=rescfamysql.cuwhyqxxofly.us-east-1.rds.amazonaws.com;User Id=resSqlAdmin;password=drake7;Persist Security Info=True;database=resApplication&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/store.Location.csdl|res://*/store.Location.ssdl|res://*/store.Location.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=rescfamysql.cuwhyqxxofly.us-east-1.rds.amazonaws.com;User Id=resSqlAdmin;Persist Security Info=True;database=resApplication&quot;" providerName="System.Data.EntityClient" />
    <add name="ResApplicationEntities" connectionString="metadata=res://*/_event.ResApplicationEntities.csdl|res://*/_event.ResApplicationEntities.ssdl|res://*/_event.ResApplicationEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=rescfamysql.cuwhyqxxofly.us-east-1.rds.amazonaws.com;User Id=resSqlAdmin;password=drake7;Persist Security Info=True;database=resApplication&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration> 