@model cfacore.shared.domain.media.Media
           
@{
    ViewBag.Title = "Create Media Entry";
    Layout = "~/Areas/Admin/Views/Shared/Layout/_Create.cshtml";
    ViewBag.Brief = "Create New Media";
}


<h1>Media</h1>
<p>
                
</p>
      
@Html.Partial("ModelForm/_Media")
