@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>AdminCancellationNotification</title>
</head>
<body>
    <div>
        <p>
            A tour cancellation request was made by @ViewBag.emailAddress.
        </p>
    </div>
</body>
</html>
