
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>CustomerCancellationNotification</title>
</head>
<body>
    <div>
        <p>Dear Customer,</p>
        <p>We have received your notification to cancel your home office tours reservation. If this cancellation was made in error, please call us at 1-800-232-2677.</p>
        <p>Thank you, <br /> The Chick-fil-A&reg; Home Office Backstage Tour Team</p>
    </div>
</body>
</html>
