@{
    Layout = null;
}
@model cfares.Areas.Tours.Models.TourRegistrationForm
<!DOCTYPE html>

<html>
<head>
    <title>EmailConfirmation</title>
</head>
<body>
    <div>
        <p>Dear @Model.userForm.firstName, </p>
        <p>We're excited you'll be joining us at the Chick-fil-A Home Office for a backstage tour. </p>
        <p>A few reminders:</p>
        <ul>
            <li>The Chick-fil-A Home Office Backstage Tour requires a lot of walking, please wear comfortable shoes.</li>
            <li>There is no required attire for the tour. You will probably feel most comfortable in casual or business casual attire</li>
            <li>Click HERE to see a map of our campus. When you first arrive on campus, you will check in at the left lane with our security gate, where you will receive a pass for your car and further direcations on pakring and entering into the building</li>
            <li>Please plan to arrive 15 minutes prior to your time as you will need a little time to park and enter inside the building.</li>
            <li>Remember to come prepared to have FUN! The cows and the staff are anxiously awaiting your arrival!</li>
        </ul>
        <p>We look forward to seeing you,<br /> The Chick-fil-A&reg; Home Office Backstage Tour Team</p>
    </div>
</body>
</html>
