<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="2.0.0.2000" />
  <package id="EnyimMemcached" version="2.11" />
  <package id="log4net" version="2.0.0" />
  <package id="EnyimMemcached-log4net" version="2.11" />
  <package id="EnyimMemcached-NLog" version="2.11" />
</packages>