<p>We would like to thank you for traveling to Atlanta to attend a Chick-fil-A<sup>®</sup> Home Office Backstage Tour. For your convenience we have some useful information listed below. If have any questions, please visit our @Html.ActionLink("Frequently Asked Questions", "FAQ", "Home") page</p>
 <div class="map">
    <iframe width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=5200+Buffington+Road+Atlanta,+GA+30349&amp;aq=&amp;sll=34.741612,-88.154297&amp;sspn=29.607696,57.084961&amp;ie=UTF8&amp;hq=&amp;hnear=5200+Buffington+Rd,+Atlanta,+Georgia+30349&amp;t=m&amp;ll=33.612975,-84.499626&amp;spn=0.021444,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
    <br />
 </div>
 <h4>Address</h4>
 <p>5200 Buffington Road<br />Atlanta, GA 30349<br /><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=5200+Buffington+Road+Atlanta,+GA+30349&amp;aq=&amp;sll=34.741612,-88.154297&amp;sspn=29.607696,57.084961&amp;ie=UTF8&amp;hq=&amp;hnear=5200+Buffington+Rd,+Atlanta,+Georgia+30349&amp;t=m&amp;ll=33.612975,-84.499626&amp;spn=0.021444,0.025749&amp;z=14&amp;iwloc=A">Map It</a></p>
        