@{ Layout = null; /* Required for Dynamic non-cached elements */ }

        @* COMMENTED OUT PER #CFARES-234
		<li class="fb">
			<span><a href="#"><img src="../../content/images/fb-like.png" /></a></span>
			<span><a href="#"><img src="../../content/images/fb-small.png" /></a></span>
			<span>3,123 people like this</span>
		</li>
		*@

	</ul>