@model cfaresv2.Areas.MyAccount.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="row-fluid">
	<div class="span12">
		<h1>Forgot Password</h1>
	</div>
</div>
<div class="row-fluid">
	<div class="span6 offset3">
		<form id="passwordReset" class="form-horizontal">
			
			<p>An email containing instructions on how to reset your password has been sent to the email address provided.&nbsp;&nbsp;Please follow the instructions contained within the email to login to your account.</p>

		</form>
	</div>
</div>