@model cfaresv2.Areas.MyAccount.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Reset Password Success";
    Layout = cfares.site.modules.com.application.Application.GetApplicationLayout();
    
}

<div class="row-fluid">
	
</div>
<div class="row-fluid">
	<div class="span6 offset3">
		<form id="passwordReset" class="form-horizontal">
            <div class="span12">
                <h1>Reset Password Success</h1>
            </div>
			<p>Your password has been successfully reset.&nbsp;&nbsp;Use your temporary password below to login.&nbsp;&nbsp;Please be sure to change your password after logging in.</p>
			<ul>
				<li>Username:&nbsp;&nbsp;<b>@ViewBag.UserName</b></li>
				<li>Password:&nbsp;&nbsp;<b>@ViewBag.NewPassword</b></li>
			</ul>
			<p>&nbsp;</p>
			<p>@Html.ActionLink("Click here", "Index", "LogOn") to login to your account.</p>
		</form>
	</div>
</div>