@{
    ViewBag.Title = "OperatorPlan";
    Layout = "~/Areas/Tours/Views/Shared/TwoColumn/_Column6633.cshtml";
}

@section h1{
<h1>Plan Your Visit</h1>
}

@section ColumnLeft{
    @Html.Partial("TwoColumn/PlanMain")


        <div class="info-section">
            <h4>WinShape<sup>®</sup></h4>
            <p>Located near Berry College, WinShape offers team building activities, marriage retreats, summer camps, and wilderness adventures. The website listed below contains links to all of the activities. </p>
            <div class="address">
                        <h4>Address</h4>
                        <p>2277 Martha Berry Hwy.Box 490009<br/> Mount Berry, GA 30149<br/><a href="http://winshape.com/">http://winshape.com</a></p>
            </div>
        </div>

        <div class="info-section">
            <h4>The Original Dwarf House<sup>®</sup></h4>
            <p>Located in Hapeville, Georgia, the original Chick-fil-A Dwarf House can be found just 15 minutes from the Home Office. It was originally called “the Dwarf Grill” due to its small size. It has been remodeled since but it contains several original menu items. We recommend visiting the Dwarf House before or after your Chick-fil-A<sup>®</sup> Home Office Backstage Tour to see where it all started.  </p>
            <div class="address">
                        <h4>Address</h4>
                        <p>461 N Central Ave<br/>Hapeville, GA 30354<br/>(404) 762-1746<br/><a href="http://www.cfarestaurant.com/hapevilledwarfhouse ">http://www.cfarestaurant.com/hapevilledwarfhouse </a></p>
            </div>
        </div>

         <div class="info-section">
            <h4>Rock Ranch<sup>®</sup></h4>
            <p>Located at The Rock, Georgia, the Rock Ranch is a beautiful 1,250 acre cattle ranch. It’s a place where families, school groups and even businesses can come to enjoy what we call “agritainment.” The Rock Ranch is owned by Chick-fil-A founder S. Truett Cathy and dedicated to “Growing Healthy Families”!  </p>
            <div class="address">
                        <h4>Address</h4>
                        <p>5020 Barnesville Highway <br/>The Rock, Georgia 30285 <br/>Office: (706) 647-6374 <br/>Fax: (706) 647-4472<br/><a href="http://www.therockranch.com  ">http://www.therockranch.com </a></p>
            </div>
        </div>

        <div class="info-section">
            <h4>Boarding House</h4>
            <p>Located in Atlanta, this is the boarding house that Truett’s mother, Lilla, ran and where Truett Cathy was raised. Jeannie Roschelle, now owns the boarding house. She’s a film producer and the boarding house is now private residence. This location would be great to visit as drive by spot.  </p>
            <div class="address">
                        <h4>Address</h4>
                        <p>743 Myrtle Street NE <br/>Atlanta, GA 30308</p>
            </div>
        </div>

        <div class="info-section">
            <h4>The Old Home Office</h4>
            <p>Located in Hapeville, Georgia, you can see the old Home Office for Chick-fil-A, Inc. before we moved to 5200 Buffington Road. This is a great sight to see before you tour the Home Office so you can see firsthand the beginnings of Chick-fil-A, Inc.  This location would be great to visit as a drive by spot as it is owned by another company now.  </p>
            <div class="address">
                        <h4>Address</h4>
                        <p>801 Virginia Ave <br/>Hapeville, GA </p>
            </div>
        </div>

}


@section ColumnRight{
@Html.Partial("TwoColumn/Hotels")
}

