
@{
    ViewBag.Title = "We are currently experiencing technical difficulties with the reservation system Operator dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<style>
    .top-menu .nav-bar{
        display:none;
    }
</style>




<div class="content rounded" id="main">
    
    <div class="inner-content wrapper model create edit">
    <p>We greatly apologize for any inconvenience. Please bear with us as we work quickly to resolve the issue. We expect the system to be back up and running at 1:00 pm on Friday, August 16th. If you have any questions, please contact Amy Hunter at res-support@thefoundryagency.com or 404-549-8897.</p>
    </div>

</div>