@model cfares.domain._event._ticket.GuestTicket

@{string pk = Model.Id().ToString();}

    <fieldset data-pk='@pk' class='date-ticket-@pk'>
            
            <div class='legend inline-block'>Guest Ticket</div>
            

           
            <div class='model-field field-NumberOfGuests'>
                <div class="display-label inline-block">Number of Guests</div>
                <div class="display-field inline-block">
                    @Html.DisplayFor(model => model.NumberOfGuests)             
                </div>
            </div>

           
    </fieldset>

