<div id="dialog-save" class='jq-dialog' title="Saving">
	<p id="save-dash-console">
    
    </p>
</div>

<div id="dialog-delete" class='jq-dialog' title="Deleting">
	<p id="delete-dash-console">
    
    </p>
</div>

<div id="dialog-complete" class='jq-dialog' title="Slot Management Finished!">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin: 6px 7px 26px 0;"></span>Operation Complete!</p>
</div>

<div id="dialog-confirm" class='jq-dialog' title="Delete the slots?">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin: 6px 7px 26px 0;"></span>You have chosen to delete some existing slots. <span style='text-align:center;display:block; font-weight:bold;'>Are you sure you want to do this?</span></p>
</div>