
@{
    ViewBag.Title = "Choose a system:";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Meta{
    
}

<div id="npr-admin-landing">
	
	<div class="content rounded" id="main">
	<div class="inner-content wrapper">
		<p class="intro">Enter the Events admin system or the Tour admin system.</p>
		<div class='button-list landing-page'>
			<a href="@Url.Action("Tours", "Home")" class="button-green-next">
				<span class="button-text">Tours Admin</span>
				<span class="button-icon-container">
					<span class="button-icon"></span>
				</span>
			</a>

			<a href="@Url.Action("Events", "Home")" class="button-green-next">
				<span class="button-text">Events Admin</span>
				<span class="button-icon-container">
					<span class="button-icon"></span>
				</span>
			</a>
		</div>
	</div>
	</div>

</div>