@using cfares.site.modules.com.application
@{
    ViewBag.Title = "Browser Not Supported";
    Layout = AppContext.Current.GetLayoutLocation();
}
<section class="system-page" id="browser_not_supported">
<h1>We apologize, but this reservation system is not supported by your browser</h1>

<h2>The website should work correctly on the following web browsers:</h2>
    <ul class="unstyled">
        <li><strong><a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Google Chrome Browser</a></strong> for PC, Mac, and Linux</li>
        <li><strong><a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla Firefox</a></strong> for PC, Mac, and Linux</li>
        <li><strong><a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">Microsoft Internet Explorer versions 8.0+</a></strong> for PC</li>
        <li><strong><a href="http://www.apple.com/safari/" target="_blank">Safari</a></strong> for PC and Mac</li>
    </ul>

<p class="text-center">Click on the links above to download an up-to-date web browser</p>


</section>