@using cfares.Global
@using cfares.site.modules.com.application
@{
    ViewBag.Title = "Event Has Reached Capacity";
    Layout = AppContext.Current.GetLayoutLocation();
}
<section class="system-page ">
<h1>Sorry, this event has reached capacity.</h1>



</section>

@section SocialFooter {
	@Html.Partial("_SocialFooterPartial")
}
