@{
    ViewBag.Title = "Plan Your Visit";
    Layout = "~/Areas/mobile/Views/Shared/_Layout.cshtml";
}
<div class="directions-page">

<div class="container">

<h1>Plan Your Visit</h1><br/>

<div class="info-section">
    <p>We would like to thank you for your interest in traveling to Atlanta to attend a Chick-fil-A<sup>®</sup> 
    Home Office Backstage Tour. This is your friendly guide to help you visit great spots before or after your backstage 
    tour of the Chick-fil-A Home Office. You will also find recommended hotels that are close to the Home Office to help you plan your trip.</p>
    <br />
    <div class="address">
        <h3>Address</h3>
        <p>5200 Buffington Road<br />Atlanta, GA 30349<br /><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=5200+Buffington+Road+Atlanta,+GA+30349&amp;aq=&amp;sll=34.741612,-88.154297&amp;sspn=29.607696,57.084961&amp;ie=UTF8&amp;hq=&amp;hnear=5200+Buffington+Rd,+Atlanta,+Georgia+30349&amp;t=m&amp;ll=33.612975,-84.499626&amp;spn=0.021444,0.025749&amp;z=14&amp;iwloc=A">Get Directions</a>
        </p>
    </div>
</div>
        
<h2>Chick-fil-A Attractions</h2><br/>

<div class="info-section">
    <h3>Complete the Chick-fil-A Experience by Visiting The Original Dwarf House<sup>®</sup></h3>
    <p>Located in Hapeville, Georgia, the original Chick-fil-A Dwarf House can be found just 15 minutes from the Chick-fil-A Home Office. Originally called “the Dwarf Grill” due to its small size, the restaurant has been remodeled since and it contains several original menu items. We recommend visiting the Dwarf House before or after your Home Office Backstage Tour to see where it all started.</p>
    <div class="address">
        <p>461 N Central Ave<br />Hapeville, GA 30354<br />(404) 762-1746<br /><a href="http://www.cfarestaurant.com/hapevilledwarfhouse ">www.cfarestaurant.com/hapevilledwarfhouse </a></p>
    </div>
</div>

</div>

<div id="hotel-content">
    <div class="hotel-info">
    <h2>Hotels</h2>
    <p>These hotels are recommended due to their proximity to the Chick-fil-A Home Office. Feel free to contact them for reservations.</p>
    <br/>
    </div>
    <p class="hotel"><a target="_blank" href="http://www.marriott.com/hotels/travel/atlap-atlanta-airport-marriott">The Marriott</a> - Atlanta Airport <br/>4711 Best Road <br/>Atlanta GA, 30337 <br/>404-766-7900</p>
    <br/>
    <p class="hotel"><a target="_blank" href="http://www.marriott.com/hotels/travel/atlma-atlanta-airport-marriott-gateway/">The Marriott Gateway</a> - Atlanta Airport <br/>2020 Convention Center Concourse <br/>Atlanta GA, 30337 <br/>404-763-1544</p>
    <br/>
    <p class="hotel"><a target="_blank" href="http://www.marriott.com/hotels/travel/atlcw-courtyard-atlanta-airport-west/">The Marriott Courtyard</a> - Camp Creek <br/>3400 Creek Point Drive <br/>East Point GA, 30344 <br/>404-344-4414</p>
    <br/>
    <p class="hotel"><a target="_blank" href="http://hamptoninn.hilton.com/en/hp/hotels/index.jhtml;jsessionid=UJ42Y5SA5WCNECSGBIX2VCQ?ctyhocn=ATLCPHX">The Hampton Inn</a> - Camp Creek <br/>3450 Creek Pointe Drive <br/>East Point GA, 30344 <br/>404-344-4474</p>
</div>  


</div>