@media all {
  .ticket {
    padding: 10px; }
    .ticket .description {
      padding: 10px 33px 0px 33px; }

  p {
    font-size: 16px;
    line-height: 1.2; }

  h1, h2 {
    margin-bottom: .5em; }

  .page-break {
    display: none; } }
@media screen {
  body {
    background: #eee; }

  main {
    max-width: 800px;
    margin: auto; }

  .ticket {
    background: #fff;
    margin-bottom: 30px;
    border-radius: 7px;
    box-shadow: 0 0 8px #999; }

  header {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 15px 35px;
    background: #fff;
    margin-bottom: 30px;
    box-shadow: 0 0 8px #999; } }
@media print {
  .page-break {
    display: block;
    page-break-before: always; }

  header {
    display: none; } }

