@model cfares.domain._event.ReservationType
<span class='admin-grey'>    
    @Html.Action("Picker/ResType", "Partial", new { FieldName = ViewData.TemplateInfo.HtmlFieldPrefix, Value = ViewData.TemplateInfo.FormattedModelValue })    
</span>