<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="EntityFramework.Extended" version="5.0.0.70" targetFramework="net45" />
  <package id="MySql.Data" version="6.6.5" targetFramework="net45" />
  <package id="MySql.Web" version="6.6.5" targetFramework="net45" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net45" />
</packages>