@{
    ViewBag.Title = "Remove A Location From An Event";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    
}

<div class="content rounded" id="main">
<form method="post">

    <label>Store Number</label>
    <input type="text" name="store_number" placeholder="store number" id="store_number"/>
    <br/><br/>

    <label>Event Number</label>
    <input type="text" name="event_number" placeholder="event number" id="event_number"/>
    <br/><br/>

    <input type="submit" class="btn" value="Remove">

</form>
</div>