<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<reservationConfig id="npr" xdt:Transform="Replace">
		<admin hostName="res.local.chick-fil-a.com" area="Admin" appTitle="RESERVATION SYSTEM | CORPORATE ADMIN"/>
		<sso enabled="false" signinPageUrl="http://localhost:55056/WIFIdentityProvider/Account/Login" signoutPageUrl="http://localhost:55056/WIFIdentityProvider/Account/Logout" changePasswordUrl="http://localhost:55056/WIFIdentityProvider/Account/ChangePassword" realmUri="http://authority.cfahome.com/"/>
		<organization id="npr" name="NPR" displayName="NPR" adminEmailAddress="NPR Events &lt;tours@npr.org&gt;" websiteUrl="http://npr.org" websiteDisplayName="NPR.org" socialFooterEnabled="false" facebookFollowUrl="http://npr.org" twitterFollowUrl="http://npr.org" twitterFollowDisplayName="@cfareservations" eventEndedEmail="mailto:events@chick-fil-a.com" mailUri="http://communication.chick-fil-a.com/res/mail/ticket/" postageAppBaseUri="NA" postageAppClientKey="PfPDUiXF1zoHWtknnhxbk0MWyygutAvo" userLoginEnabled="false" />
		<eventTypes>
			<add name="Tour" defaultLocation="00001"/>
			<add name="SpecialEvent" />
		</eventTypes>
	</reservationConfig>

  <connectionStrings>
    <add name="NprContext" providerName="System.Data.SqlClient" connectionString="Data Source=sql.decycivefarm.com;Initial Catalog=cw74x70b5k-npr-20150203T043534Z;User Id=res_admin;Password=Beard7Beard7;MultipleActiveResultSets=True" />
   
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-cfaresv2-20121220143245;Integrated Security=SSPI;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="NprSqlIdentity" connectionString="Data Source=sql.decycivefarm.com;Initial Catalog=npr_auth;User Id=res_admin;Password=Beard7Beard7;MultipleActiveResultSets=True" />
    <add name="CfaResContext" connectionString="Data Source=sql.decycivefarm.com;Initial Catalog=npr;User Id=res_admin;Password=Beard7Beard7;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--<add name="ApplicationServices" connectionString="Data Source=cal2013-staging.cuwhyqxxofly.us-east-1.rds.amazonaws.com;Initial Catalog=aspnetdb;Persist Security Info=True;User ID=calSqlAdmin;Password=calAdminAtFoundry" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  
	<!--<connectionStrings>
		<add name="NprContext" providerName="System.Data.SqlClient" connectionString="Data Source=restier2staging.cuwhyqxxofly.us-east-1.rds.amazonaws.com;Initial Catalog=npr;User Id=res_admin;Password=Beard7Beard7;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="NprSqlIdentity" connectionString="Data Source=restier2staging.cuwhyqxxofly.us-east-1.rds.amazonaws.com;Initial Catalog=npr_auth;User Id=res_admin;Password=Beard7Beard7;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <add name="CfaResContext" providerName="System.Data.SqlClient" connectionString="Data Source=cfa-res-staging-2.cuwhyqxxofly.us-east-1.rds.amazonaws.com;Initial Catalog=cfares;User Id=resSqlAdmin;Password=drake7drake7;MultipleActiveResultSets=true;" xdt:Transform="Replace" xdt:Locator="Match(name)" />
        <add name="CFASqlIdentity" connectionString="Data Source=cfa-res-staging-2.cuwhyqxxofly.us-east-1.rds.amazonaws.com;Initial Catalog=cfaAspId;User Id=resSqlAdmin;Password=drake7drake7;MultipleActiveResultSets=true;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <add name="CfaToursContext" providerName="System.Data.SqlClient" connectionString="Data Source=restier2staging.cuwhyqxxofly.us-east-1.rds.amazonaws.com;Initial Catalog=cfatours;User Id=res_admin;Password=Beard7Beard7;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>-->

	<system.web>
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  connectionStringName="NprSqlIdentity" type="System.Web.Security.SqlMembershipProvider"  enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="2147483647" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>

    <profile enabled="true" defaultProvider="AspNetSqlProfileProvider" inherits="cfares.site.modules.profile.ResProfile">
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  connectionStringName="NprSqlIdentity" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="true">
      <providers>
        <clear/>
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  connectionStringName="NprSqlIdentity" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
		<!--
		  In the example below, the "Replace" transform will replace the entire 
		  <customErrors> section of your web.config file.
		  Note that because there is only one customErrors section under the 
		  <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
		  <customErrors defaultRedirect="GenericError.htm"
			mode="RemoteOnly" xdt:Transform="Replace">
			<error statusCode="500" redirect="InternalError.htm"/>
		  </customErrors>
		-->
  </system.web>
	
</configuration>