<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<reservationConfig id="npr" xdt:Transform="Replace">
		<admin hostName="admin.npr.decycivefarm.com" area="Admin" appTitle="RESERVATION SYSTEM | CORPORATE ADMIN"/>
		<sso enabled="false" signinPageUrl="http://localhost:55056/WIFIdentityProvider/Account/Login" signoutPageUrl="http://localhost:55056/WIFIdentityProvider/Account/Logout" changePasswordUrl="http://localhost:55056/WIFIdentityProvider/Account/ChangePassword" realmUri="http://authority.cfahome.com/"/>
		<!--<organization id="npr" name="NPR" displayName="NPR" adminEmailAddress="NPR Events &lt;tours@npr.org&gt;" websiteUrl="http://npr.org" websiteDisplayName="NPR.org" socialFooterEnabled="false" facebookFollowUrl="http://npr.org" twitterFollowUrl="http://npr.org" twitterFollowDisplayName="@cfareservations" eventEndedEmail="mailto:events@chick-fil-a.com" mailUri="http://communication.chick-fil-a.com/res/mail/ticket/" postageAppBaseUri="NA" postageAppClientKey="exbx7F9irhYQdrRQkp2hySSdk1pSsDxN" userLoginEnabled="false" />-->
    <organization id="npr" name="NPR" displayName="NPR" adminEmailAddress="NPR Tours &lt;tours@npr.org&gt;" websiteUrl="http://npr.org" websiteDisplayName="NPR.org" socialFooterEnabled="false" facebookFollowUrl="http://npr.org" twitterFollowUrl="http://npr.org" twitterFollowDisplayName="@cfareservations" eventEndedEmail="mailto:events@chick-fil-a.com" mailUri="http://communication.chick-fil-a.com/res/mail/ticket/" postageAppBaseUri="NA" postageAppClientKey="exbx7F9irhYQdrRQkp2hySSdk1pSsDxN" userLoginEnabled="false" />
		<eventTypes>
			<add name="Tour" defaultLocation="00001"/>
			<add name="SpecialEvent" />
		</eventTypes>
	</reservationConfig>

	<connectionStrings>
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="NprContext" providerName="System.Data.SqlClient" connectionString="Data Source=sql.decycivefarm.com;Initial Catalog=npr;User Id=res_admin;Password=Beard7Beard7;" />
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-cfaresv2-20121220143245;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="NprSqlIdentity" connectionString="Data Source=sql.decycivefarm.com;Initial Catalog=npr_auth;User Id=res_admin;Password=Beard7Beard7;" providerName="System.Data.SqlClient"/>
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="CfaResContext" connectionString="Data Source=sql.decycivefarm.com;Initial Catalog=npr;User Id=res_admin;Password=Beard7Beard7;" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<system.web>
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  connectionStringName="NprSqlIdentity" type="System.Web.Security.SqlMembershipProvider"  enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="2147483647" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>

    <profile enabled="true" defaultProvider="AspNetSqlProfileProvider" inherits="cfares.site.modules.profile.ResProfile">
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  connectionStringName="NprSqlIdentity" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="true">
      <providers>
        <clear/>
        <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  connectionStringName="NprSqlIdentity" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
		<!--
		  In the example below, the "Replace" transform will replace the entire 
		  <customErrors> section of your web.config file.
		  Note that because there is only one customErrors section under the 
		  <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
		  <customErrors defaultRedirect="GenericError.htm"
			mode="RemoteOnly" xdt:Transform="Replace">
			<error statusCode="500" redirect="InternalError.htm"/>
		  </customErrors>
		-->
  </system.web>
	
</configuration>