<div id="footer">
    <h5><a class="red" href="http://www.chick-fil-a.com/Legal">LEGAL</a> | <a class="red" href="http://www.chick-fil-a.com">CHICK-FIL-A.COM</a> | <a class="red" href="http://www.chick-fil-a.com/Legal/Privacy">PRIVACY</a></h5>
    <p>© 2012 CFA Properties, Inc. All trademarks shown are the propery of their respective owners. Franchised Chick-fil-A® restaurant businesses are individually owned and operated by franchised Operators. Reservations are on a first come, first served basis. </p>
</div>
