@{
    ViewBag.Title = "CancellationConfirmation";
    Layout = "~/Areas/Temp/Views/Shared/_Layout.cshtml";
}
<div class="logon-page">
    <h2>
        Reservation Cancelled</h2>
    <span class="logon-description">You will receive an email confirming your cancellation. Please call us at 1-800-232-2677 if you have any questions.
        To go back to <span class="no-wrap">Chick-fil-A.com</span> <a href="http://www.chick-fil-a.com">
            click here</a>.</span>
    <br />
</div>
