@{
    ViewBag.Title = "Lost Invitation";
    Layout = "~/Areas/Tours/Views/Shared/Onecolumn/_Notification.cshtml";
}

@section Lost{
<h1>Lost Your Confirmation Email?</h1>
<p>Please enter the email addresss and password used to make your reservation:</p>
}

@section Login{
@Html.Partial("LoginPartial")
}