@{
    Layout = "../Shared/_Layout.cshtml";
}

<section class="row-fluid" id="success">
	<br/>
    <br/>
	
    <h2 class="text-center">Chick-fil-A® "Breakfast Variety" Giveaway <br/> OFFICIAL RULES</h2>



    <p align="JUSTIFY" style="margin-bottom: 0in"><font style="font-size: 11pt"><b>NO
    PURCHASE OR PAYMENT OF ANY KIND IS NECESSARY TO PARTICIPATE. 
    PURCHASE OR PAYMENT WILL NOT IMPROVE YOUR CHANCES OF WINNING.  VOID
    WHERE PROHIBITED.</b></font></p>
    <p align="JUSTIFY" style="margin-bottom: 0in"><br>
    </p>
    <p align="JUSTIFY" style="margin-bottom: 0in"><a name="_DV_X54"></a><a name="_DV_C9"></a>
    <font style="font-size: 11pt"><b>1. 	Eligibility:</b></font><font style="font-size: 11pt">
    The Chick-fil-A Breakfast Variety Giveaway (&quot;Giveaway&quot;) is open
    and offered only to legal residents of the fifty (50) United States
    and the District of Columbia (&quot;D.C.&quot;) who live in the United
    States or D.C. and are thirteen (13) years of age or older as of
    August 28, 2013.  Employees, officers, directors, or representatives
    of Chick-fil-A, Inc. (&quot;Sponsor&quot;), CFA Properties, Inc., </font><font color="#000000"><font style="font-size: 11pt">t</font></font><font style="font-size: 11pt">he
    participating franchised operators of Chick-fil-A restaurant
    businesses (&quot;Franchised Operators&quot;), and any Chick-fil-A, Dwarf
    House</font><sup><font style="font-size: 11pt">®</font></sup><font style="font-size: 11pt">,
    and Truett’s Grill</font><sup><font style="font-size: 11pt">®</font></sup><font style="font-size: 11pt">
    restaurants, and their respective parents, subsidiaries, affiliates,
    owner-operators, all of their respective advertising, promotion, or
    fulfillment agencies, promotional partners, and entities associated
    with or involved in the development, implementation, or handling of
    the Giveaway (collectively, the &quot;Giveaway Entities&quot;) are not
    eligible to participate in the Giveaway.  </font>
    </p>
    <p align="JUSTIFY" style="margin-left: 0.25in; margin-bottom: 0in"><br>
    </p>
    <p align="JUSTIFY" style="margin-bottom: 0in"><font style="font-size: 11pt"><b>2.
	Giveaway Period:</b></font><font style="font-size: 11pt"> 
    The Giveaway begins at 12:00:01 AM Eastern Daylight Time (&quot;EDT&quot;)
    on August 28, 2013 and ends at 12:00:00 AM EDT on September 13, 2013</font><font style="font-size: 11pt"><b>
    </b></font><font style="font-size: 11pt">(&quot;Giveaway
    Period&quot;). </font>
    </p>
    <p align="JUSTIFY" style="margin-bottom: 0in"> 
    </p>
    <br/>
    <p align="JUSTIFY" style="margin-bottom: 0in"><font style="font-size: 11pt"><b>3.
	How to Participate:  </b></font><font style="font-size: 11pt">Eligible
    participants should go to &lt;www.chick-fil-aforbreakfast.com&gt; or
    &lt;www.cfa4breakfast.com&gt; (&quot;Website&quot;) and follow the
    directions for participation.  Specifically, eligible participants
    will select a participating Chick-fil-A location, then select a date
    (generally September 9-14, 2013, but actual dates may vary by
    location, the "Reservation Redemption Period&quot;), and time
    (generally 6:30AM – 10:30AM, but actual times may vary by
    location), from the on-screen calendar for a reservation to visit the
    selected participating location.  Eligible participants will also
    then select one&nbsp;(1) Breakfast entrée from the choices given
    onscreen to be given free during their selected date and time.  At
    least one hundred (100) total daily reservations are available during
    the Reservation Redemption Period&nbsp;at&nbsp;participating
    locations on a first-come, first-served basis.  Therefore, when
    eligible participants visit the Website to select a reservation,
    there may be fewer than one hundred (100) reservations&nbsp;remaining
    because of prior reservations.  The reservation system on the Website
    will close at 12:00:00 AM EDT on September 13, 2013. After selecting
    the location, date, time, and breakfast entrée, eligible
    participants must complete the reservation form on the Website by
    providing his/her full name, email address, and zip code.  Eligible
    participants may also provide their address, gender, and birthday;
    however, submission of this information is not required for
    participation in the Giveaway.   Notwithstanding the foregoing, dates
    and times available to participate in the Giveaway may vary among the
    individual Franchised Operators. Breakfast entrée menu items will be
    served during Chick-fil-A location breakfast hours only (generally
    6:30AM – 10:30 AM, but actual times may vary by location).
    Breakfast and some breakfast menu items are not available at all
    Chick-fil-A locations. </font><font style="font-size: 11pt"><b>Please
    note that without limiting the other requirements set forth in these
    Official Rules, you must have made a reservation through the Website
    and been issued an Invitation (as defined below) to participate in
    the Giveaway. If you visit a Chick-fil-A location without a
    reservation and an Invitation, you will be unable to participate in
    the Giveaway.</b></font></p>
    <p align="JUSTIFY" style="margin-bottom: 0in">&nbsp;</p>
    <p align="JUSTIFY" style="margin-bottom: 0in"><a name="_GoBack"></a><font style="font-size: 11pt">After
    registering, eligible participants will receive an email with their
    invitation, which includes the eligible participant’s full name and
    the date, time, breakfast entrée and location of the reservation
    (&quot;Invitation&quot;).  Eligible participants must print this Invitation
    and bring it with them to the designated Chick-fil-A location at the
    designated date and time.  Eligible participants may also show this
    invitation on their smartphone to the Franchised Operator or their
    employee.  Eligible participants may also be asked to provide a valid
    government-issued photo ID to the Franchised Operator or employee who
    requests it at the time of redemption of the Invitation, and if ID is
    requested, the name on the Invitation and ID must match for
    redemption of the Invitation.  If an eligible participant cannot
    print his/her Invitation, that participant should go to the
    designated Chick-fil-A location at the designated date and time and
    bring his/her valid government-issued photo ID (if the participant
    has one) and advise the Franchised Operator that his/her Invitation
    would not print, and the Franchised Operator will determine, at
    his/her sole discretion, whether to honor the participant’s
    reservation and Invitation.  Each Invitation is redeemable for one
    (1) free Breakfast entrée selected by and for the eligible
    participant whose name is on the Invitation at the time, date and
    location identified on the Invitation. Invitation is not a coupon.
    Invitation has no cash value. </font><font style="font-size: 11pt"><b>Limit
    one (1) Invitation per person and per email address, regardless of
    restaurant location.  Submission of multiple entries to receive
    multiple Invitations by or on behalf of the same person will result
    in ineligibility with respect to all entries submitted by or on
    behalf of an individual and all Invitations received by an
    individual.  </b></font>
    </p>
    <p align="JUSTIFY" style="margin-bottom: 0in"><br>
    </p>
    <p align="JUSTIFY" style="margin-bottom: 0in"><a name="_DV_C25"></a><font style="font-size: 11pt">Invitations
    are subject to verification by Sponsor, Franchised Operators, and
    their representatives.  Invitations are null and void and will be
    rejected if not obtained through authorized, legitimate channels. 
    Such authorized, legitimate channels do not include (among other
    means) purchasing Invitations online or otherwise, through online
    auctions, or at live auctions. The offer to sell, auction or sale of
    an Invitation will void the Invitation. If any part of an Invitation
    is counterfeited, or if any part is illegible, mutilated, or tampered
    with in any way, or if an Invitation contains or reflects printing,
    typographical, mechanical, or other errors, the Invitation will be
    rejected and deemed void and invalid.  Incomplete, mechanically
    reproduced, automated, and/or duplicate Invitations are not permitted
    and will be deemed void and invalid.  The use of any device to
    automate the entry process is absolutely prohibited, and any such
    entries and resulting Invitations shall be void.</font>  
    </p>
    <p align="JUSTIFY" style="margin-bottom: 0in"><br>
    </p>
    <p align="JUSTIFY" style="margin-bottom: 0in"><font style="font-size: 11pt">In
    the event of a dispute regarding the identity of the person
    submitting the Invitation, the Invitation will be deemed to be
    submitted by the person in whose name the Invitation is issued,
    subject to that person’s ability to provide a valid
    government-issued photo ID to the Franchised Operator or employee who
    requests it at the time of redemption of the Invitation, in Sponsor’s
    or Franchised Operators’ sole discretion.  Once submitted for
    redemption, all Invitations become the property of Sponsor and will
    in no event be returned.  </font>
    </p>
    <p align="JUSTIFY" style="margin-bottom: 0in"><br>
    </p>
    <p align="JUSTIFY" style="margin-bottom: 0in"><font style="font-size: 11pt"><b>4.	Privacy</b></font><font face="Times New Roman Bold, serif"><font style="font-size: 11pt"><b>:	</b></font></font><font style="font-size: 11pt">Sponsor
    may collect personal data from participants when they enter the
    Giveaway, and this information will be used for the purposes of
    administering the Giveaway, publicizing the Giveaway, and for
    participants age eighteen (18) and over, other promotional purposes
    that benefit Sponsor and its designees.</font></p>
    <p align="JUSTIFY" style="margin-bottom: 0in"><br>
    </p>
    <p align="JUSTIFY" style="margin-bottom: 0in"><font style="font-size: 11pt"><b>5.
	    General Conditions:</b></font><font style="font-size: 11pt"> 
    Neither Sponsor nor any other Released Party (defined below) is
    responsible for lost, late, incomplete, stolen, misdirected, or
    illegible entries or Invitations, or for any incorrect or inaccurate
    information, whether caused by participants, tampering, or by any of
    the equipment or programming associated with or utilized in the
    Giveaway, and neither Sponsor nor any Released Party assume
    responsibility for any error, omission, defect, theft, destruction,
    or unauthorized access to the materials related to the Giveaway. 
    Sponsor reserves the right, at its sole discretion, to disqualify any
    individual found to be tampering with the entry process or the
    operation of the Giveaway, to be acting in violation of these
    Official Rules; or to be acting in a non-sportsmanlike or disruptive
    manner, or with intent to annoy, abuse, threaten, or harass any other
    person.  In such event(s), Sponsor reserves the right (in addition to
    disqualification of such individual) to seek damages from any such
    person to the fullest extent permitted by law.  If for any reason the
    Giveaway is not capable of running as planned by reason of, but not
    limited to, tampering, unauthorized intervention, actions by
    participants, fraud, weather, force majeure events or any other
    causes which, Sponsor, in its sole opinion, deem could corrupt or
    affect the administration, security, fairness, integrity, or proper
    conduct of the Giveaway, or the Giveaway is otherwise not capable of
    running as planned, Sponsor reserves the right, in its sole
    discretion, to cancel, terminate, modify, or suspend the Giveaway. 
    If such malfunction, error, disruption, event, occurrence or damage
    occurs, and it impairs the administration, security, fairness,
    integrity, or proper play of the Giveaway, Sponsor may, in its sole
    discretion, suspend or terminate the Giveaway or any portion thereof
    by posting a notice on the Website or at Franchised Operators’
    locations.  In the event that the selected Breakfast Entrée or any
    other item, product, or service cannot be awarded for any reason, or
    any eligible participant is not capable of redeeming his/her
    Invitation for any reason, Sponsor and Released Parties shall not be
    obligated to award any item, product, or service, and Sponsor and
    Released Parties reserve the right, in their sole discretion, whether
    to substitute the selected Breakfast Entrée or any other item,
    product, or service (or any portion thereof) with an item, product,
    or service of comparable or greater value or cash value.  If, for any
    reason, more than the stated number of Invitations are available
    and/or claimed, Sponsor reserves the right, in its sole discretion,
    to honor the correct total number of Invitations by random drawing
    from among eligible Invitations.  No groups, clubs, newsletters, or
    organizations may reproduce or distribute any portion of these
    Official Rules to their members, and anyone who participates in the
    Giveaway through means not permitted by these Official Rules is
    subject to disqualification.  </font>
    </p>
    <p align="JUSTIFY" style="margin-bottom: 0in"><br>
    </p>
    <p align="JUSTIFY" style="margin-bottom: 0in"><font style="font-size: 11pt"><b>6.
 	    Release:</b></font><font style="font-size: 11pt">  By
    participating in this Giveaway, participants (and each minor
    participant’s parent(s) or legal guardian(s)) agree to release,
    indemnify, and hold harmless, the Giveaway Entities, and each of
    their officers, directors, owners, employees, agents, affiliates and
    Franchised Operators (collectively, the &quot;Released Parties&quot;), from
    any and all liability for any injuries, loss, harm, damage, cost, or
    expense of any kind to any person(s), including, without limitation,
    property damage, personal injury, and/or death, arising in whole or
    in part, directly or indirectly, from acceptance, possession, use,
    and/or misuse of an Invitation or participation in this Giveaway or
    any Giveaway-related activity and for any claims based on publicity
    rights, defamation, or invasion of privacy.</font></p>
    <p align="JUSTIFY" style="margin-bottom: 0in"><br>
    </p>
    <p align="JUSTIFY" style="margin-bottom: 0in"><font style="font-size: 11pt"><b>7.
	    Limitation of Liability:  </b></font><font style="font-size: 11pt">EXCEPT
    WHERE PROHIBITED, PARTICIPANTS </font><font style="font-size: 11pt">(and
    each minor participant’s parent(s) or legal guardian(s))</font><font style="font-size: 11pt">
    AGREE THAT: (1) ALL ITEMS, PRODUCTS, AND SERVICES ARE PROVIDED &quot;AS
    IS&quot; WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED,
    INCLUDING BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
    MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR
    NON-INFRINGEMENT; </font><font style="font-size: 11pt">(2) any
    and all disputes, claims, and causes of action arising out of or
    connected with this </font><font style="font-size: 11pt">GIVEAWAY</font><font style="font-size: 11pt">
    or any ITEM awarded, shall be resolved individually, without resort
    to any form of class action; (3) any and all claims, judgments, and
    awards shall be limited to actual out-of-pocket costs incurred,
    including costs associated with entering this GIVEAWAY but in no
    event attorneys’ fees; and (4) under no circumstances will
    participant (and each minor participant’s parent(s) or legal
    guardian(s))</font><font style="font-size: 11pt"> </font><font style="font-size: 11pt">be
    permitted to obtain awards for, and participant (and each minor
    participant’s parent(s) or legal guardian(s))</font><font style="font-size: 11pt">
    </font><font style="font-size: 11pt">hereby waiveS all rights
    to claim punitive, incidental, consequential, and any other damages,
    other than for actual out-of-pocket expenses, and any and all rights
    to have damages multiplied or otherwise increased.  </font><font style="font-size: 11pt">SOME
    JURISDICTIONS MAY NOT ALLOW THE LIMITATIONS OR EXCLUSION OF LIABILITY
    FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES OR EXCLUSION OF IMPLIED
    WARRANTIES, SO SOME OF THE ABOVE LIMITATIONS OR EXCLUSIONS MAY NOT
    APPLY TO CERTAIN PARTICIPANTS.  CHECK LOCAL LAWS FOR ANY RESTRICTIONS
    OR LIMITATIONS REGARDING THESE LIMITATIONS OR EXCLUSIONS.  </font>
    </p>
    <p align="JUSTIFY" style="margin-bottom: 0in"><br>
    </p>
    <p align="JUSTIFY" style="margin-bottom: 0in"><font style="font-size: 11pt"><b>8.
	    Agreement to Official Rules:</b></font><font style="font-size: 11pt">
     By participating in the Giveaway, each participant (and each minor
    participant’s parent(s) or legal guardian(s)) fully and
    unconditionally agrees to and accepts these Official Rules and the
    decisions of Sponsor and Giveaway Entities (including but not limited
    to Franchised Operators and their employees handling Invitation
    redemption), which are final and binding in all matters relating to
    the Giveaway.  By participating in the Giveaway, each participant
    (and each minor participant’s parent(s) or legal guardian(s))
    waives any right to claim ambiguity in these Official Rules.  </font><font style="font-size: 11pt">The
    failure or delay by Sponsor or </font><font style="font-size: 11pt">Giveaway</font><font style="font-size: 11pt">
    Entities in enforcing any particular clause, provision, or aspect of
    these Official Rules shall not impact the validity, enforceability,
    or effect of any other clause, provision, or aspect of these Official
    Rules.</font></p>
    <p align="JUSTIFY" style="margin-bottom: 0in"><br>
    </p>
    <p align="JUSTIFY" style="margin-bottom: 0in"><font style="font-size: 11pt"><b>9.	Choice
    of Law:  </b></font><font style="font-size: 11pt">All issues
    and questions concerning the construction, validity, interpretation,
    and enforceability of these Official Rules, or the rights and
    obligations of participant and/or Sponsor in connection with the
    Giveaway, shall be governed by, and construed in accordance with, the
    laws of the State of Georgia without regard to conflicts of
    law/choice of law doctrine of Georgia or any other jurisdiction, and
    all proceedings shall take place exclusively either in the United
    States District Court for the Northern District of Georgia, or Fulton
    County State Court located in Atlanta, Georgia. Participant (and each
    minor participant’s parent(s) or legal guardian(s)) agrees to the
    exclusive jurisdiction of such courts and waives any right to change
    of venue or any like right.</font></p>
    <p align="JUSTIFY" style="margin-left: 0.5in; margin-bottom: 0in"><br>
    </p>
    <p align="JUSTIFY" style="margin-bottom: 0in"><font style="font-size: 11pt"><b>10.
	Official Rules:</b></font><font style="font-size: 11pt"> 
    Official Rules for this Giveaway are available by clicking on the
    link provided during the Giveaway entry process described herein. 
    The Official Rules may also be obtained by visiting the participating
    Chick-fil-A restaurant locations during the Giveaway Period. </font>
    </p>
    <p align="JUSTIFY" style="margin-bottom: 0in"><a name="_DV_M23"></a><a name="_DV_M24"></a>
    <br>
    </p>
    <p align="JUSTIFY" style="margin-bottom: 0in; page-break-after: avoid"><font style="font-size: 11pt">SPONSOR:
     Chick-fil-A, Inc., 5200 Buffington Road, Atlanta, GA  30349</font></p>
    <p align="JUSTIFY" style="margin-bottom: 0in; page-break-after: avoid"><br>
    </p>
    <p align="JUSTIFY" style="margin-bottom: 0in; page-break-after: avoid"><font style="font-size: 11pt">CHICK-FIL-A</font><sup><font style="font-size: 11pt">®</font></sup><font style="font-size: 11pt">
    is a registered trademark of CFA Properties, Inc.  </font>
    </p>
    <p align="JUSTIFY" style="margin-bottom: 0in"><br>
    </p>
    <p align="JUSTIFY" style="margin-bottom: 0in"><font style="font-size: 11pt">©
    2011-2013 CFA Properties, Inc.  All Rights Reserved.  Printed in
    U.S.A.</font></p>
    <p style="margin-bottom: 0in"><br>
    </p>
    <p style="margin-bottom: 0in"><br>
    </p>
    <p style="margin-bottom: 0in"><br>
    </p>



</section>
