@model string
<span class='admin-grey '>    
        @Html.Action("Picker/ResTemplate", "Partial", new { FieldName = ViewData.TemplateInfo.HtmlFieldPrefix, Value = ViewData.TemplateInfo.FormattedModelValue })    
</span>