@model string
<span class='admin-table'> 
    @Html.Action("Picker/ResCategory", "Partial", new { FieldName = ViewData.TemplateInfo.HtmlFieldPrefix, Value = ViewData.TemplateInfo.FormattedModelValue })
</span>