<div id="calendar">

</div>
<script type="text/javascript" src="@Url.Content("/Areas/Tours/Scripts/calendarLogic.js")"></script>
<script type="text/javascript" src="@Url.Content("/Scripts/fullcalendar-1.5.3/fullcalendar/fullcalendar.js")"></script>
<script type="text/javascript" src="@Url.Content("/Scripts/date.js")"></script>