@{
    ViewBag.Title = "Home Office Backstage Tours";
    Layout = "~/Areas/Tours/Views/Shared/_Layout.cshtml";
    ViewBag.Style = "jquery-ui.css";
}

<h1>Home Office Backstage Tours</h1>

@Html.Partial("Calendar/CalendarPartial")