@model cfares.domain.user.ResUser

@{
    ViewBag.Title = "User";
    ViewBag.Brief = "Edit User";
    Layout = "~/Areas/Admin/Views/Shared/Layout/_Edit.cshtml";
}


<h1>User Information</h1>
<p>
                
</p>


            
@Html.Partial("ModelForm/_User")

          


