<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="reservationConfig" type="cfares.site.modules.com.application.ReservationConfig, cfares.site.modules" allowExeDefinition="MachineToApplication" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <reservationConfig id="npr">
    <admin hostName="npr.staging.thefoundryagency.com" area="Admin" appTitle="RESERVATION SYSTEM | CORPORATE ADMIN" />
    <sso enabled="false" signinPageUrl="http://localhost:55056/WIFIdentityProvider/Account/Login" signoutPageUrl="http://localhost:55056/WIFIdentityProvider/Account/Logout" changePasswordUrl="http://localhost:55056/WIFIdentityProvider/Account/ChangePassword" realmUri="http://authority.cfahome.com/" />
    <organization id="npr" name="NPR" displayName="NPR" adminEmailAddress="tours@npr.org" websiteUrl="http://npr.org" websiteDisplayName="NPR.org" facebookFollowUrl="http://npr.org" twitterFollowUrl="http://npr.org" twitterFollowDisplayName="@reservations" eventEndedEmail="mailto:tours@npr.org" mailUri="http://communication.chick-fil-a.com/res/mail/ticket/" userLoginEnabled="false" />
    <eventTypes>
      <add name="Tour" defaultLocation="00001" />
      <add name="SpecialEvent" />
    </eventTypes>
  </reservationConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.net>
    <mailSettings>
      <smtp from="tours@npr.org.com" deliveryMethod="Network">
        <network host="email-smtp.us-east-1.amazonaws.com" port="587" userName="AKIAJ3QUIF4FBYJW5OSA" password="AgQmwu0eVD8XcLE1tFu5YIPiThHonITGMYrcxiiZhjIK" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
	<add key="mvc-template-root" value="%TOURS_ROOT%\Views\Shared\Email\" />
	<add key="mvc-root" value="%TOURS_ROOT%\" />
	<add key="i-visitor-enabled" value="true" />
	<add key="i-visitor-offset-from-now" value="0" />
	<add key="i-visitor-timespan-length" value="1" />
	<add key="i-visitor-ftp-host" value="ftp://68.142.184.245" />
	<add key="i-visitor-ftp-path" value="/cygdrive/d/ftproot/666" />
	<add key="i-visitor-ftp-user" value="nprFileImport" />
	<add key="i-visitor-ftp-pass" value="pK*54Jna$q" />
	<add key="i-visitor-thumbprint" value="ssh-rsa 1024 f5:d2:0e:ad:0b:30:de:6a:90:62:ac:11:4c:ba:24:8b" />
	<add key="default-from-email" value="tours@npr.org" />
	<add key="admin-email" value="tours@npr.org" />
	<add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="NprContext" providerName="System.Data.SqlClient" connectionString="Data Source=build.decycivefarm.com;Initial Catalog=npr;User Id=res_admin;Password=Beard7Beard7;" />
    <add name="CfaToursContext" providerName="System.Data.SqlClient" connectionString="Data Source=restier2.cuwhyqxxofly.us-east-1.rds.amazonaws.com;Initial Catalog=cfatours;User Id=res_admin;Password=Beard7Beard7;" />
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-cfaresv2-20121220143245;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="CfaResContext" providerName="System.Data.SqlClient" connectionString="Data Source=cfa-res-mssql.cuwhyqxxofly.us-east-1.rds.amazonaws.com;Initial Catalog=cfares;User Id=resSqlAdmin;Password=drake7drake7;" />
    <add name="CFASqlIdentity" connectionString="Data Source=cfa-res-mssql.cuwhyqxxofly.us-east-1.rds.amazonaws.com;Initial Catalog=cfaAspId;User Id=resSqlAdmin;Password=drake7drake7;" />
    <add name="NprSqlIdentity" connectionString="Data Source=restier2.cuwhyqxxofly.us-east-1.rds.amazonaws.com;Initial Catalog=npr_auth;User Id=res_admin;Password=Beard7Beard7;" />
    <add name="cfa-elasticache" connectionString="tcp://cfares.hjywkp.0001.use1.cache.amazonaws.com:11211" />
    <add name="CfatoursViewContext" connectionString="metadata=res://*/Views.TourView.csdl|res://*/Views.TourView.ssdl|res://*/Views.TourView.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=restier2staging.cuwhyqxxofly.us-east-1.rds.amazonaws.com;initial catalog=cfatours;persist security info=True;user id=res_admin;password=Beard7Beard7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="ApplicationServices" connectionString="Data Source=cal2013-staging.cuwhyqxxofly.us-east-1.rds.amazonaws.com;Initial Catalog=aspnetdb;Persist Security Info=True;User ID=calSqlAdmin;Password=calAdminAtFoundry" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>