@model cfares.domain._event.resevent.store.ISpeaker
<section class="overview" id="speaker_badge">
    <h3 class="name">Speaker</h3>

    <div class="address">

        

        @Model.SpeakerName


    </div>
</section>
