@{
    Layout = "../Shared/_Layout.cshtml";
}


<section class="row-fluid" id="success">
	<h1 class="span12">Sorry!</h1>
    <p>We are currently experiencing technical difficulties. Please bear with us as we work to resolve the issue as quickly as possible! Check back soon!</p>
</section>

