/* --- Variables ------------------------------------------------------ */

//buttons
$btn-bg-img-green: url('../Img/NPR/buttons/btn-bg-green.png');
$btn-bg-color-green: #379f0f;

$btn-bg-img-grey: url('../Img/NPR/buttons/btn-bg-grey.png');
$btn-bg-color-grey: #92a0a6;

$btn-bg-img-red: url('../Img/NPR/buttons/btn-bg-red.png');
$btn-bg-color-red: #d00000;

$btn-bg-img-tan: url('../Img/NPR/buttons/btn-bg-tan.png');
$btn-bg-color-tan: #d3d3ce;

//button icon sprites (35x35) - image source
$btn-icon-sprites: url('../Img/NPR/buttons/btn-icons.png');

//button icon sprites (35x35) - positioning 
$btn-icon-add: 0 center;
$btn-icon-thumbnail: -35px center;
$btn-icon-back: -70px center;
$btn-icon-cancel: -105px center;
$btn-icon-merge: -140px center;
$btn-icon-upload: -175px center;
$btn-icon-download: -210px center;
$btn-icon-search: -245px center;
$btn-icon-view: -280px center;
$btn-icon-menu: -315px center;

//button icon sprites (50x35) - image source
$btn-icon-sprites-lg: url('../Img/NPR/buttons/btn-icons-large.png');

//button icon sprites (50x35) - positioning
$btn-icon-scroll: 0 center;
$btn-icon-next: -50px center;

/* --- Mixins ------------------------------------------------------ */


@mixin inline-block{
		display:inline-block;
		zoom:1;
		*display:inline;
	}


@mixin button($bg-img, $bg-color, $icon-container-width, $icon, $icon-pos) {
	@include inline-block;
	position: relative;
	width: auto;
	//height: 35px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: {
		image: $bg-img;
		position: 0 top;
		repeat: repeat-x;
		color: $bg-color;
	}
	border: 1px solid #fff;
	text-decoration: none;
	font-size: 0;
	padding: 5px 0;

	&:hover, focus {
		background: {
			position: 0 bottom;
		}
		text-decoration: none;
	}
	
	span.button-text {
		display: inline-block;
		position: relative;
		width: auto;
		height: 23px;
		line-height: 23px;
		padding: 0 15px;
		color: #fff;
		font: {
			family: Tahoma, sans-serif;
			size: 14px;
			weight: normal;
		}
		vertical-align: top;
		border-right: 1px solid #738287;
	}
	
	span.button-icon-container {
		display: inline-block;
		position: relative;
		height: 25px;
		width: $icon-container-width;
		border-left: 1px solid lighten($bg-color, 40%);

		span.button-icon {
			display: block;	
			position: relative;
			margin: auto;
			margin-top: -5px;
			height: 35px;
			width: $icon-container-width;
			background: {
				image:$icon; 
				position:$icon-pos;
				repeat:no-repeat;
			}
		}
	}
}

/* --- Buttons ------------------------------------------------------ */

.button-green-next { @include button($btn-bg-img-green, $btn-bg-color-green, 50px, $btn-icon-sprites-lg, $btn-icon-next); }
.button-grey-view { @include button($btn-bg-img-grey, $btn-bg-color-grey, 35px, $btn-icon-sprites, $btn-icon-view); }
.button-grey-menu { @include button($btn-bg-img-grey, $btn-bg-color-grey, 35px, $btn-icon-sprites, $btn-icon-menu); }

/* --- Styles ------------------------------------------------------ */
//* { letter-spacing: 1px; }

.right {
  float: right;
}

.left {
  float: left;
}

.header-bar {
  background-color: #111;
  height: 10px;
  width: 100%;
}

#logo {
  position: relative;
  top: -12px;
  left: 0px;
  background-image: url('/Content/Themes/npr/Images/logo-admin.png');
  width: 228px;
  height: 107px;
}

.top-menu {
  width: 765px;
  padding-top: 16px;
}

.secondary-bar {
  background-color: #454545;
  height: 60px;
  width: 100%;
  margin-bottom: -60px;
}

.nav-bar {
	.nav {
		height: 29px;
		line-height: 30px;
		padding-left: 20px;
		padding-right: 200px;
		background: #666;
		margin-left: 50px;
		position: absolute;
		right: 10px;
		min-width: 403px;

		li {
			margin-right: 35px;

			a {
				color: #cdcfbb;
				font: {
					family: Tahoma, Arial, sans-serif;
					size: 13px;
					weight: normal;
				}
				vertical-align: top;
			}

			a:hover, a:focus {
				color: white;
				//font-weight: bold;
				text-decoration: none;
				text-shadow: 1px 0px 0px white;
			}
		}
	}
	.admin-section-title {
		font-weight: bold;
		color: #eee;
		padding-right: 10px;
	}

	.selectpicker { padding: 2px; }
}

#logindisplay {
  float: right;
  position: relative;
  z-index: 2;
  .logged-in! .status {}
  .status {
    color: #8da5af;
    font-size: 7.5pt;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 5px;
  }
}

.wizard.content {
	text-align: left;
	border: {
		top: 2px solid #efefeb;
		bottom: 2px solid #e2e2dc;
	}
	
	.wizard.wrapper {
		width: auto;
		height: auto;
		margin: 0;
		border: {
			top: 2px solid #e2e2dc;
			bottom: 2px solid #efefeb;
		}
		
		.wizard-summary {
			float: none;
			margin: {
				top: 15px;
				bottom: 15px;
				left: 50px;
			}

			h2 {
				color: #252525;
				font: {
					family: Tahoma, Arial, sans-serif;
					size: 17.75px;
					weight: bold;
				}
			}

			&.with-steps {
				margin: {
					top: 25px;
					bottom: 25px;
				}
			}
		}

		.wizard-steps {
			float: right;
			position: relative;
			top: 10px;
			cursor: hand; cursor: pointer;

			a.wizard-step {
				cursor: hand; cursor: pointer;
				width: auto;
				margin: 0 5px;

				.wizard-icon {
					cursor: hand; cursor: pointer;
					margin: 0 14px;
				}
				.wizard-text {
					cursor: hand; cursor: pointer;
				}

				&.current-true {
					.wizard-bar {
						// position: relative;
						bottom: -16px;
					}
				}
			}
		}
	}
}



.inner-content.wrapper {
	width: auto;
	margin-left: 25px;
	margin-right: 25px;
	padding-top: 0;
	padding-bottom: 0;
	border: {
		top: 2px solid #e2e2dc;
		bottom: 2px solid #efefeb;
	}

	&:first-child { border-top: none; }

	&.no-border-top { border-top: none; }

	.button-list.landing-page { margin-top: 20px; }

	.model.badge {
		padding: 23px 25px;

		h2 {
			margin-bottom: 0;
			padding-bottom: 0;	
		}

		p {
			color: #666;
			font: {
				family: Tahoma, Arial, sans-serif;
				size: 14px;
			}
			line-height: 20pt;
			letter-spacing: 1px;
		}

		&.filters { padding-top: 0; }

		.button-list.dashboards { margin-top: 10px; }

		div.buttons-to-right {
			width: 360px;
		}

		div.buttons-to-right-small {
			width: 215px;
		}

		//form {
			
			//.field-block {
				
				fieldset { //.create-form {
					width: 100%;
					padding: {
						left: 0;
						right: 0;
					}

					.model-field {
						
						.editor-label {
							padding-left: 0;
							//vertical-align: top;
							
							label {
								//color: #666;
								font: {
									family: Tahoma, Arial, sans-serif;
									size: 14px;
									weight: normal;
								}
							}
						}

						.editor-field {
							width: 225px;

							input {
								margin-left: 0;
							}

							
						}
					}
				}
			//}

			.submit-block {
				padding-left: 0;

				.button-cta {
					padding-left: 175px;
				}
			}
		//}
		}

	span.red-highlight {
		font-weight: bold;
		color: #cc0000;
	}

	&.new-tour-cta.create-new-tour, &.new-tour-cta.create-new-event {
		div.model.badge {
			//line-height: 35px;
			//height: 35px;

			div.inline-block {
				line-height: 35px;
				vertical-align: top;
			}

			.button-list {
				display: inline-block;
				position: relative;
			}
		}
	}

	&.new-tour-cta.specialty-tours {

		.button-list {
			display: inline-block;
			position: relative;
			top: -4px;
		}
	}

	&.light-bg { background-color: #f3f3f0; }

	&.upcoming-tours {
		padding-bottom: 30px;
		border-top: none;
	}

	.details.dashboard {
		
		.date-grid {
			padding-top: 10px;
		}
	}

}

span.calendar-icon-big {
	display: inline-block;
	width: 39px;
	height: 37px;
	background: {
		image: url(../Img/NPR/calendar-icon.png);
	}
	vertical-align:middle;
	line-height:1;
	margin-left:5px;
}




.action-detailssummary.controller-event .inner-content.wrapper .model.badge fieldset .model-field .editor-field,
.action-edit.controller-event .inner-content.wrapper .model.badge fieldset .model-field .editor-field{width: 58%;}
.action-request.controller-nprticket .inner-content.wrapper .model.badge fieldset .model-field .editor-field { width: 200px; }

.admin-table {
	.dataTables_wrapper {
		a {
			display: inline-block;
			width: auto;
			padding: 0 5px;
			line-height: 22px;
			text-align: center;
			background-color: #8da5af;
			
			color: #fff;
			font: {
				family: Tahoma, Arial, sans-serif;
				size: 10px;
			}

			&:hover, &:focus {
				background-color: #cc3300;
				text-decoration: none;
			}
		}

		tbody td:first-child {
			//padding-left: 1px;
			//padding-right: 1px;
			width: 30px;
		}

		tbody tr td {
			padding-top: 0;
			padding-bottom: 0;
			height: 25px;
			line-height: 25px;
			border: {
				left: 1px solid #ecefec;
				right: 1px solid #ecefec;
			}
		}
		// Image picker table

		#media_select{
			thead tr th:nth-child(5){
				
			}
			 
			td a{
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				padding-left:5px;
			}
			tr td:nth-child(2){
				a{width: 70px; margin-right: -30px; }
			}
			tr td:nth-child(4){
				a{width:100px; margin-right: -30px;}
			}
			tr td:nth-child(5){
				width:0px;
			}

		}

		.dataTables_paginate {
			a {
				padding: {
					top: 0 !important;
					bottom: 0 !important;
				}
				height: 14px;
				line-height: 14px;
			}
		}
	}
}


//Overrides
.dashboard-create-button{
	width:20%;
}


.clearLine {
	display: none !important;
}

#button_group_week p {
	padding-left: 10px;
}

#button_group_all p, #details_segment p { padding-left: 0; }

.admin-table-2 .ui-accordion .ui-accordion-content { padding: 1em; }
.slot-row ul li { padding-right: 3px; vertical-align:middle;}

.model.badge, .dashboard {
	padding: 0;
}

form .inner-content.wrapper {
	margin-left: 0;
	margin-right: 0;
}

#npr-admin-landing .intro {
	padding-top: 25px;
}
#npr-admin-landing .inner-content {
	padding-left: 15px;
}
.npr.action-index.controller-home h2 {
	position: relative;
	left: -10px;
}

.action-request-dash.controller-home .model.badge.dash {
	display: none;
}

#redemptionPeriod-section, #redemptionPeriod-tour-section, #timeSlots-section {
	//margin-left: 23px;
	ul {
		font-size: 14px;
		strong {
			display: inline-block;
			padding: 0 20px;
		}
	}
}

.resevent-new {
	padding-top: 20px !important;
}
#summaryTickets-section {
	padding-top: 25px;
}

.model.badge h1, .model.badge h2, .dashboard h1, .dashboard h2 {
	padding-bottom: 10px;
}

.inner-content.wrapper.model.details { border-bottom: none; }
.inner-content.wrapper.model.details.dashboard { padding-top: 0; border-bottom: none; }

.model.edit fieldset {
	width: 75%;
	padding: {
		top: 0;
		left: 0;
		right: 0;
	}
	margin-top: 0;
	font: {
		family: Tahoma, Arial, sans-serif;
		size: 14px;
	}

	.dateTimeFieldContainer.start > input, .dateTimeFieldContainer.end > input {
		width: 40%;
	} 
}

.model-field .editor-label {
	padding-left: 0;
}

#details_segment .details-input {
	padding: {
		top: 10px;
		left: 0;
	}


}



#voiceBtn { display: none; } //hack to remove Chrome's microphone icon which seems to always load in the wrong place

.model-field.field-SubHeading > .editor-label, .model-field.field-Description > .editor-label { //forces giant text area to next line by updating label container to have 60% width
	width: 60%;
}

.model-field.field-SubHeading > .editor-label > label:first-child, .model-field.field-Description > .editor-label > label:first-child { font-weight: bold; }

.model-field.field-MustBeOfAgeToAttend {
	.editor-field {
		width: 20px;

		#MustBeOfAgeToAttend { margin-top: 0px !important; }
	}
	.editor-label { width: 40%; }
}

.model-field.field-Media {
	.editor-label {
		width: 60%;
		label { font-weight: bold; }	
	}

	.editor-field {
		#media_preview { display: inline-block; padding-bottom: 10px; max-width: 110px; }
		.table-picker { width: 70%; margin-left: 10px; } 
	}
}

.ui-tooltip { display: none !important; }

.ui-button-icon-only.ui-dialog-titlebar-close {
	.ui-button-icon-primary.ui-icon.ui-icon-closethick { top: 0 !important; }
	.ui-button-text { display: none !important; }
}

.inner-content.wrapper.event-details {
	margin: 20px 0 0;
	
	fieldset { padding: 20px 0; }
}

.inner-content.wrapper.site-availability {
	margin: 0 0 20px;

	section { margin-left: 0 !important; }
}

div.DTTT_container { left: 370px !important; }

.summary-btn-grp { padding-top: 0 !important; padding-left: 0 !important; }

.model fieldset { padding-left: 0; }

.npr.action-detailssummary {
	.edit-button { display: none; }
}

.model-field.field-EndOffsetString {
	.editor-label { width: 100px; }
}

.summary-btn-grp { margin-top:20px; }

.filters.model.badge {
	.admin-table { vertical-align: middle; }
}

//Padding, Margin and Border Overrides
.margin-left-0 {
	margin-left: 0;
}

.margin-left-25 {
	margin-left: 25px;
}

.padding-left-0 {
	padding-left: 0 !important;
}

.padding-top-10 {
	padding-top: 10px !important;
}

.padding-bot-10 {
	padding-bottom: 10px !important;
}

.padding-bot-20 {
	padding-bottom: 20px;
}

.border-top-none {
	border-top: none !important;
}

.border-bottom-none {
	border-bottom: none;
}

.valign-top { vertical-align: top; }

.action-delete.controller-nprslot fieldset {
	display: none;
}
.action-delete.controller-nprslot fieldset:first-child {
	display: block;
}
.button-request-dash {
	position: relative;
	top: 8px;
}

.jq-time {
	padding: 6px 10px !important;
}

.action-request.controller-nprticket {
	.badge .request-page input[type=text] {
		height: 25px;
		width: 44%;
		vertical-align: middle;
		line-height: 0px;
		margin-bottom: 0px;
	}
	.customDateInput {
		padding-top: 1px;
		padding-left: 14px;
		input {
			width: 120px !important;
		}
	}
	.datetimeLabel {
		padding-top: 12px;
		padding-left: 14px;
	}
	.well fieldset {
		position: relative;
		left: -10px;
	}
}

.action-note {
	textarea {
		width: 100%;
		height: 300px;
	}
}

.action-summary.controller-event .button-cta.right-float.summary-btn-grp.status-action{
	margin-top:30px;
}

.action-edit.controller-nprticket {
	.editor-label {
		width: 230px;
	}
	textarea {
		width: 530px !important;
		height: 200px !important;
	}
}

.action-request.controller-nprticket {
	.notesContainer {
		ul {
			padding: 0;
			margin: 0;
			li {
				display: block;
				padding: 0 0 10px 0;
			}
		}
		a {
			margin-top: 10px;
			display: block;
		}
	}
	textarea {
		width: 100%;
		height: 200px !important;
	}
}

.action-edit.controller-nprslot {
	.model-field .editor-label { vertical-align: top; margin-top: 10px; }
	textarea {
		width: 550px !important;
		height: 200px !important;
	}
	.jq-date-time {
		width: 166px;
	}
}

.auto-dialog .inner-content.wrapper .model.badge {
	padding: 20px 0 0 0 !important;
	margin: 0 !important;
}

.admin-table-2.slot-wrapper,
#date_summary_list {
	
}
#inline_cal{

}

//Bootstrap overrides
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}

.validation-summary-valid { display:none; }


.invisible{display:none;}

.filters div{@include inline-block;}

.error{color:red;}


.details-input label.admin-table-2{
vertical-align:middle;
}

#loggedInAsGuest span,
#signInButton {
	display: none;
}