@inherits RazorEngine.Templating.TemplateBase<string>

<!DOCTYPE html>

<html>
<head>
    <title>Test Email</title>
    
</head>
<body>
<div>
        
<table border="0" cellspacing="0" cellpadding="0" width="612" style="border-collapse:collapse; border-spacing: 0;">

<tr>
<td style="padding-left:30px">
<br/>  
<p style="padding-bottom:15px;">Hello! This is a test email.</p>

</td>
</tr>
</table>    
   
</div>
</body>
</html>
​
​