@{
    ViewBag.Title = "Verify";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content rounded" id="main">
    <div class="inner-content wrapper model details dashboard">
        <div class='model badge'>
            <h1>Verify Events</h1>
            <p>
                
            </p>
        </div>        
     </div>
</div>