<p>Dear {{name}}, </p>
<p> Thank you for your interest in touring our new NPR headquarters at 1111 North Capitol Street, NE!<br /> This email is to confirm that we have received your request for a reservation for Group Size: {{groupsize}} on one of the following dates: {{tourdate}}.<br /> A member of NPR’s Audience and Community Relation’s staff will contact you shortly to discuss your request and requirements. </p>
<p>  We, again, thank you for your interest in a tour.</p>
<p>Sincerely,</p>
<img alt="" src="http://events.npr.org/Content/images/justin_signature.png" />
<p>Justin Winn
  <br></br>Supervisor, NPR Community Relations</p>
​