@using cfaresv2.Areas.MyAccount.Controllers

@inherits RazorEngine.Templating.TemplateBase<cfares.site.modules.mail.ResEmailContextModel>

@*@model cfares.site.modules.mail.ResEmailContextModel
@{ Layout = null; }*@

<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
    <style type="text/css">
        
    body, table, tr, td, img, p
    {
        padding:0;
        margin:0;
        border:0;
        font-family: Arial, sans-serif;     
        color:#666;        
    }
    
    li { padding-bottom: 15px; }
    p { padding-bottom: 15px; }
    
    </style>
</head>
<body>
<div>
        
<table border="0" cellspacing="0" cellpadding="0" width="612" style="border-collapse:collapse; border-spacing: 0;">
<tr>
<td>
	@*  <img src=@(Model.ThemeImagesUrl+"/email/header.png")/>  *@
</td>    
</tr>
<tr>
<td style="padding-left:30px">
<br/>  
<p>
	Dear Customer,
</p>
<p> 
	Please click the following link to reset your password: 
</p>
<p> 
	@{ string link = Model.BaseUrl + "/Account/LogOn/ResetPassword/?username=" + 
	   Model.User.UserName +"&reset=" + LogOnController.HashResetParams(
	   Model.User.UserName, Model.User.ProviderUserKey.ToString()); }
	
	<a href="@(link)">@(link)</a>
</p>
<p> 
	If you did not request a password reset you do not need to take any action
</p>

</td>              
</tr>
<tr>
<td>
	&nbsp;
</td>
</tr>
<tr>
<td>
    
<p style="text-align:center; font-size:10pt; font-weight:bold; padding: 10px 0px 10px 0px"><span>Trouble viewing this Email? </span><a href="@(Model.BaseUrl + "/Account/LogOn/ForgotPassword/"+Model.User.UserName)"><span style="color:#E01B1B">click here</span></a></p>
    
</td>    
</tr>   
</table>    
   
</div>
</body>
</html>
​
​