@model cfares.domain._event.Ticket

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/Layout/_Delete.cshtml";
    ViewBag.Brief = "Delete Ticket";
}


<h1>@Model.CardNumber</h1>
<p>
@Model.ToString()
</p>
        

@section Details{
    @Html.Partial("ModelDetail/_Ticket")     
}