@{
    ViewBag.Title = "CancellationConfirmation";
    Layout = "~/Areas/tours/Views/Shared/OneColumn/_Notification.cshtml";
}
<div class="logon-page">
    <h1>
        Reservation Cancelled</h1>
    <p class="logon-description">You will receive an email confirming your cancellation. Please call us at 1-800-232-2677 if you have any questions.
    </p>
    <br />
</div>
