@model cfares.Areas.Tours.Models.TourRegistrationForm
<div>
            @Html.CheckBoxFor(m => ((cfares.Areas.Tours.Models.GroupRegistrationForm)m).joinInsiders)
            <span>Join Email Insiders and receive exclusive updates from Chick-fil-A, Inc. <span
                class="legal-aside">(must be 18 or older)</span></span>
        </div>
        <br />