<h3>Operators</h3>
<div id="faq-operators" class="faq-section">
    <h4><a href="#">Q:  Can someone from the Inc. staff do a workshop for my team members? <br/>(i.e. Marketing, T&D, Field Operations)</a></h4>
    <div>A:  Please contact __________ at name@chick-fil-a.com or 404-404-4004 to discuss your interest. @Html.Partial("Faq/CaresPartial") </div>
    
    <h4><a href="#">Q:  Will we get to eat in the Café? </a></h4>
    <div>A:  If you would like to eat in the café, please contact us at 1-800-232-2677 to reserve a time. @Html.Partial("Faq/CaresPartial")</div>
</div>