@inherits RazorEngine.Templating.TemplateBase<cfares.domain._event.ticket.tours.TourTicket>

<!DOCTYPE html>

<html>
<head>
    <title>AdminCancellationNotification</title>
</head>
<body>
    <div>
        <p>
            A tour cancellation request was made by @Model.Owner.Name.Full
        </p>
    </div>
</body>
</html>
