@model cfacore.shared.domain.common.IAdminReference

@{
    string id = "";
    
    string typeName = "";
    if (Model != null){
        id = Model.Id();        
        typeName = Model.GetType().Name;
    }
}
           
@if (Model != null && !string.IsNullOrEmpty(Model.Id()))
{
<a href='@Model.AnchorHref()' data-pk='@Model.Id()'  data-type='@Model.GetType().Name'>@Model.AnchorLabel()</a>
}
else { 
    <a href='#' data-pk='@id' class='no-link'  data-type='@typeName'>Not Found</a>
}